<div class="container">
  <div class="main-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [routerLink]="['/dashboard']"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item" [routerLink]="['/office/list']"><a href="javascript:void(0)">Offices</a></li>
    </ol>
    <div class="heading">
      <h1>Offices</h1>
    </div>
    <div class="alert alert-success d-flex justify-content-between" *ngIf='officeCloseSuccess' role="alert">
      <div class="d-flex">
        <em class="alert-icon icon icon-check-circle"></em>
        <div class="d-flex align-items-center flex-wrap">
          <h4 class="mr-36 my-0">Office Closed</h4>
          {{ofc_close_msg}}
        </div>
      </div>
      <span class="alert-close" (click)='officeCloseSuccess = false' id="office-success-false"><em class="icon icon-close"></em></span>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-24">
      <div class="header-search flex-fill d-flex">
        <form action="#">
          <div class="header-search-wrapper">
            <input type="text" class="form-control search-input" placeholder="Search for an office"
              (keyup)="updateFilter($event)" id="search-office">
            <button class="btn" type="submit" id="search-office-btn">Search</button>
          </div>
        </form>
      </div>
      <div class="btn-group ml-md-24 ml-0" *ngIf='permissionList?.OFFICE_MANAGEMENTisAdmin'>
        <button class="btn btn-outline-primary btn-icon" type="button" (click)="open(mymodal,'sm','')" id="export-csv"><i
            class="icon icon-upload"></i> Export to CSV</button>
        <button class="btn btn-primary btn-icon" type="button" [routerLink]="['/office/create']" id="add-new-office"><i
            class="icon icon-plus"></i> Add New Office</button>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampl1">State</label>
              <app-multiselect-dropdown
                [title]="title"
                [selections]="selectedState"
                [displaySubItem]="stateList"
                [filterName]="filterName"
                (onSelectionChanged)="getSelectedState($event)"
                (clearFilter)="clearFilter('state')"
                (applyFilter)="applyFilter()"
                id="state-multi-select">
              </app-multiselect-dropdown>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampl2">Status</label>
              <app-multiselect-dropdown [title]="title1" [selections]="selectedStatus" [displaySubItem]="statusList"
                [filterName]="filterName" (onSelectionChanged)="getSelectedStatus($event)"
                (clearFilter)="clearFilter('status')" (applyFilter)="applyFilter()" id="status-multi-select"></app-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div class="custom-table">
            <ngx-datatable #table class="material common-table office-table"
              [class.fix-col-right]="tables?.frozenRightArr[0]"
              [class.matter-no-data]="rows?.length === 0"
              [rows]="rows"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="footerHeight"
              [selected]="selected"
              [messages]="messages"
              rowHeight="auto"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              [limit]="page.size"
              [scrollbarH]="true"
              (select)="onSelect($event)"
              [selectionType]="'checkbox'"
              (sort)="updateDatatableFooterPage()"
              id="office-listing-tbl"
              [sorts]="[{prop: 'officeName', dir: 'asc'}]">

              <ngx-datatable-column [resizeable]="false" [sortable]="true" prop="officeName" name="Office Name" [width]="200">
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [sortable]="true" prop="city" name="City" [width]="200">
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [sortable]="true" prop="state" name="State" [width]="200">
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [sortable]="true" prop="employeeCount" name="Employee Count" [width]="150">
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [sortable]="true" prop="status" name="Status" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="d-flex">
                    {{row.effectiveDate | officeStatus: row.status}} 
                    <div class="info-hover position-relative ml-12"
                      *ngIf="(row.effectiveDate | officeStatus: row.status)=='Pending'">
                      <em class="icon icon-info"></em>
                      <div class="tooltip bs-tooltip-bottom" role="tooltip">
                        <div class="arrow"></div>
                        <div class="tooltip-inner">
                          <h6>{{row.status}}</h6>
                          <p *ngIf="row.status=='Active'">This Office is set to open on
                            <span *ngIf="!row.openingDate">future</span>
                            <span *ngIf="row.openingDate">{{row.openingDate | date: 'MM/dd/yyyy'}}</span>.</p>
                          <p *ngIf="row.status=='Closed'">This Office is closed on
                            <span *ngIf="!row.closingDate">past</span>
                            <span *ngIf="row.closingDate">{{row.closingDate | date: 'MM/dd/yyyy'}}</span>.</p>
                          <p *ngIf="row.status=='Reopened '">This Office is set to re-open on
                            <span *ngIf="!row.openingDate">future</span>
                            <span *ngIf="row.openingDate">{{row.openingDate | date: 'MM/dd/yyyy'}}</span>.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [resizeable]="false" [frozenRight]='tables?.frozenRightArr[0]' [headerClass]="'text-right'" [sortable]="false" name="Action"
                [width]="100" prop='id'>
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="d-flex justify-content-end">
                    <div class="dropdown dropdown-hover-table" *ngIf='currentActive == rowIndex' [class.active]="currentActive == rowIndex"
                      (click)="openMenu(rowIndex, $event)" appAutoCloseOutsideClick
                      (outsideClick)="onClickedOutside($event, rowIndex)">
                      <em class="icon icon-dot-verti"></em>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item" [routerLink]="['/office/detail']"
                           *ngIf='permissionList?.OFFICE_MANAGEMENTisViewOnly'
                          [queryParams]="{officeId: value,state:'view'}" id="view-office-index-{{rowIndex}}">View Office</a>
                        <a class="dropdown-item" [routerLink]="['/office/detail']"
                          [queryParams]="{officeId: value,state:'edit'}"
                           *ngIf='permissionList?.OFFICE_MANAGEMENTisAdmin' id="view-office-index-{{rowIndex}}">View Office</a>

                        <a class="dropdown-item" *ngIf="row.status=='Closed' && permissionList?.OFFICE_MANAGEMENTisAdmin"
                          (click)="officeClose(reopenOffice,row.officeName,row.id, $event)" id="reopen-office-index-{{rowIndex}}">
                          Reopen Office</a>
                        <a class="dropdown-item" *ngIf="row.status!=='Closed' && permissionList?.OFFICE_MANAGEMENTisAdmin"
                          (click)="officeClose(closeOffice,row.officeName,row.id, $event)" id="close-office-index-{{rowIndex}}">Close
                          Office</a>
                      </div>
                    </div>
                    <div class="dropdown dropdown-hover-table d-flex justify-content-end" *ngIf='currentActive != rowIndex'
                          (click)="openMenu(rowIndex, $event)">
                          <em class="icon icon-dot-verti"></em>
                        </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                  <div class="d-flex justify-content-between flex-fill">
                    <div class="d-flex align-items-center">
                      <div class="table-items d-flex align-items-center mr-36">
                        Items per page:
                        <div class=" ml-8">
                          <select class="custom-select border-less" [formControl]="pageSelector"
                            (change)="changePageSize()">
                            <option *ngFor="let limit of limitArray" [value]="limit">{{ limit }}</option>
                          </select>
                        </div>
                      </div>
                      <span>
                        {{(rowCount > 0 ? (( offset * pageSize ) + 1 ) : 0)}} -
                        {{(rowCount> (curPage*pageSize)) ? (curPage*pageSize):(rowCount)}} of
                        {{(rowCount > 1) ? (rowCount) +' items' : (rowCount) +' item'}}
                      </span>
                    </div>

                    <div class="d-flex align-items-center">
                      <select class="custom-select border-less" [(ngModel)]="pangeSelected" (change)="changePage()">
                        <option *ngFor='let num of page.totalPages | counterPipe;let i= index' [value]="i+1">Page {{ i+1 }}
                          of {{page.totalPages}}</option>
                      </select>
                      <div class="ml-8">
                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left icon icon-angle-left'"
                          [pagerRightArrowIcon]="'datatable-icon-right icon icon-angle-right'"
                          [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'"
                          [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                          (change)="table.onFooterPage($event);pageChange($event)">
                        </datatable-pager>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <app-loader [active]="loading"></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #mymodal let-modal>
  <div class="modal-header d-block">
    <h3 class="modal-title">Export to CSV</h3>
    <p>Select which data you want to export</p>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close" id="close-btn">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div class="custom-control custom-checkbox" *ngFor="let item of columnList; trackBy :trackByFn;let i = index">
      <input class="custom-control-input" id="{{item.Name}}-{{i}}" [checked]="item.isChecked"
        (change)="item.isChecked = !item.isChecked" type="checkbox">
      <label class="custom-control-label" for="{{item.Name}}-{{i}}">{{item.DisplayName}}</label>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')" id='cancel-btn'>Cancel</button>
    <button type="button" class="btn btn-primary" (click)="ExportToCSV()" [disabled]="!isExportValid" id="export-csv-btn">Export to CSV</button>
  </div>
</ng-template>

<ng-template #closeOffice let-modal>
  <div class="card mb-0">
    <div class="card-body">
      <div class="modal-header d-block pb-24">
        <h3 class="modal-title mb-0">Close Office</h3>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close" id="close-btn">
          <em class="icon icon-close"></em>
        </button>
      </div>
      <div class="modal-body pb-24">
        <div class="alert alert-danger d-flex justify-content-between mb-32" *ngIf="errorMsg" role="alert">
          <div class="d-flex">
            <em class="alert-icon icon icon-error"></em>
            <div class="d-flex align-items-center flex-wrap">
              <h4 class="mr-36 mt-0 mb-4">Error</h4>
              {{errorMsg}}
            </div>
          </div>
        </div>
        <form [formGroup]="officeStatus">
          <div class="row gutter-16">
            <div class="col-12">
              <div class="row gutter-16">
                <div class="col-3">
                  <div class="form-group">
                    <label>Office Name</label>
                    <span class="pt-4 d-block">{{officeName}}</span>
                  </div>
                </div>
                <div class="col-9">
                  <div class="row gutter-16">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Closing Date </label>
                        <app-date-picker [isForm]='true' [dateform]='officeStatus' controlName='closingDate' id="closing-date">
                        </app-date-picker>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Change to Take Effect <sup>*</sup></label>
                        <app-date-picker [isForm]='true' [dateform]='officeStatus' controlName='efftctDate' id="effect-date">
                        </app-date-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')" id="cancel-btn">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!officeStatus.valid"
          (click)="updateCloseStatus()" id="close-office-btn">Close Office</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #reopenOffice let-modal>
  <div class="card mb-0">
    <div class="card-body">
      <div class="modal-header d-block pb-8">
        <h3 class="modal-title mb-0">Reopen Office</h3>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close" id="close-btn">
          <em class="icon icon-close"></em>
        </button>
      </div>
      <br>
      <div class="modal-body">
        <form [formGroup]="reopenofficeStatus">
          <div class="row gutter-16">
            <div class="col-12">
              <div class="row gutter-16">
                <div class="col-3">
                  <div class="form-group">
                    <label>Office Name</label>
                    <span class="pt-4 d-block">{{officeName}}</span>
                  </div>
                </div>
                <div class="col-9">
                  <div class="row gutter-16">
                    <div class="col-6">
                      <div class="form-group">
                        <label>Opening Date</label>
                        <app-date-picker [isForm]='true' [dateform]='reopenofficeStatus' controlName='openingDate' id="opening-date">
                        </app-date-picker>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>Change to Take Effect <sup>*</sup></label>
                        <app-date-picker [isForm]='true' [dateform]='reopenofficeStatus' controlName='effctDate' id="effect-date">
                        </app-date-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')" id="cancel-btn">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!reopenofficeStatus.valid"
          (click)="updateReOpenStatus()" id="reopen-office">Reopen Office</button>
      </div>
    </div>
  </div>
</ng-template>
