<div class="card">
    <div class="card-body">
        <form [formGroup]="trustAccountingForm">
            <div class="info-block">
                <h2 class="mb-24">Trust Account Settings</h2>
                
                <div class="row">
                    <div class="col-6">
                        <div class="info-block pt-8">
                            <h5 class="mb-8 mt-0 font-weight-bold">Minimum Primary Retainer Trust Balance</h5>
                            <p class="mb-16 lh-20">
                                Enter the minimum balance the client should maintain in their trust account at all
                                times.
                            </p>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <form [formGroup]="minTrustBalanceForm">
                                            <input type="text" min="0" prefix="$" mask="separator.2" thousandSeparator="," placeholder="$0.00"
                                                formControlName="minTrustBalance" class="form-control" value="$0.00" (focusout)="modifyMinTrustBal()" id="min-trust-balance">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="info-block pt-8">
                            <h5 class="mb-8 mt-0 font-weight-bold">Trust Payment Grace Period</h5>
                            <p class="mb-16 lh-20">
                                Specifies number of days after an invoice is due before client’s bill is automatically
                                paid from their primary retainer trust account.
                            </p>
                            <div class="alert alert-primary d-flex justify-content-between" role="alert">
                                <div class="d-flex">
                                    <em class="alert-icon icon icon-info"></em>
                                    <div class="d-flex align-items-center flex-wrap">
                                        This will override the firm-level grace period.
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center form-group">
                                <form [formGroup]="trustPaymentGracePeriodForm">
                                    <div class="position-relative cust-spinner">
                                        <input type="number" formControlName="trustPaymentGracePeriod" 
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                            min="0"
                                            class="form-control number-control" id="trust-payment-grace-period">
                                    </div>
                                </form>
                                <span class="ml-8">days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="info-block pt-8">
                            <h5 class="mb-8 mt-0 font-weight-bold">Target Account for Overpayments</h5>
                            <p class="mb-16 lh-20">
                                Sets which account receives overpayment funds by default. <br>
                                Payment into Accounts Receivable Balance will appear as a negative balance due.
                            </p>
                            <div>
                                <div class="custom-control custom-radio pr-0 mb-12">
                                    <input type="radio" id="TAO-1" (click)="overPaymentCheck()" name="TAO"
                                        class="custom-control-input" [checked]="overPaymentOption">
                                    <label class="custom-control-label" for="TAO-1">Accounts Receivable Balance</label>
                                </div>
                                <div class="custom-control custom-radio pr-0 mb-0">
                                    <input type="radio" id="TAO-2" name="TAO" class="custom-control-input"
                                        (click)="overPaymentCheck()" [checked]="!overPaymentOption">
                                    <label class="custom-control-label" for="TAO-2">Primary Retainer Trust Account</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block pt-48">
                <h2 class="mb-24">Trust-Only Accounts</h2>
                <p class="mb-16">Enter as many Trust-Only accounts as needed.</p>
                <app-trust-only-account-common [clientId]="clientId" [matterId]="matterId" [pageType]="pageType" [matterTrustAccountId]="matterTrustAccountId"
                [matterAdmin]="matterAdmin" [matterAdminEdit]="matterAdminEdit"></app-trust-only-account-common>
            </div>
            <div class="info-block pt-48">
                <h2 class="mb-24">Property Held in Trust</h2>
                <p class="mb-16">Enter as many Property Held in Trust items as needed.</p>
                <app-property-held-in-trust [clientId]="clientId" [matterId]="matterId"
                [matterAdmin]="matterAdmin" [matterAdminEdit]="matterAdminEdit"></app-property-held-in-trust>                
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-end pb-24">
    <div class="btn-group">
      <button type="button" class="btn btn-light" (click)="prev()" id="cancel-btn">Cancel</button>
      <button type="button" class="btn btn-primary" (click)='next()' id="next-btn">Next</button>
    </div>
  </div>
