
<div class="modal-header d-block">
  <h3 class="modal-title">Edit Working Hours</h3>

  <button type="button" class="close" (click)="dismiss('Cross click')" aria-label="Close" id="close-btn">
    <em class="icon icon-close"></em>
  </button>
</div>
<div class="modal-body" *ngIf='employee'>
  <div class="hours-list">
    <div class="row gutter-16 align-items-center">
      <div class="col-9 ml-auto">
        <div class="row gutter-16">
          <div class="col-6">
            <label>Open</label>
          </div>
          <div class="col-6">
            <label>Close</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0">Sunday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.sundayOpenHours' [(closeHours)]='employee.sundayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Monday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.mondayOpenHours' [(closeHours)]='employee.mondayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Tuesday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.tuesdayOpenHours' [(closeHours)]='employee.tuesdayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Wednesday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.wednesdayOpenHours' [(closeHours)]='employee.wednesdayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Thursday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.thursdayOpenHours' [(closeHours)]='employee.thursdayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-20">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Friday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.fridayOpenHours' [(closeHours)]='employee.fridayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
    <div class="row gutter-16 align-items-center mb-0">
      <div class="col-3">
        <span class="label mb-0 font-weight-normal">Saturday</span>
      </div>
      <div class="col-9">
        <app-working-hours-picker [(openHours)]='employee.saturdayOpenHours' [(closeHours)]='employee.saturdayCloseHours'>
        </app-working-hours-picker>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)='save()' id="save-btn">Save</button>
</div>
