.tab-content{
    min-height: 200px;
}

.tooltip-inner.tooltip-lg{
    min-width: 334px;
}

.queue-time{
    display: inline-block !important;
}

.disabled{
    background-color: #b5b5b5 !important;
    color: #ffffff !important;
}
