.tooltip-inner.tooltip-lg{
    min-width: 334px;
}

.queue-time{
    display: inline-block !important;
}

.disabled{
    background-color: #b5b5b5 !important;
    color: #ffffff !important;
}

.matter-table {
    .pr-10 {
        padding-right: 10px;
    }
}

.cust-spinner .form-control {
    padding-right: 12px;
}