.time {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-top: 4px;
  background-color: #4756CE;
}

.disbursement {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-top: 4px;
  margin-left: 10px;
  background-color: #63BFCD;
}

.legend-title {
  font-size: 14px;
  color: #5D6A86;
}
