<div class="container">
  <div class="main-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [routerLink]="['/dashboard']"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/manage-folders/document">Document
          Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Replace Document</li>
    </ol>
    <div class="heading">
      <h1>Replace Document</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="documentForm">
          <div class="row">
            <div class="col-5">
              <div class="form-group">
                <label class="label mb-0 d-block">Document Title</label>
                <div class="d-flex align-items-center font-weight-medium small lh-24 mt-3">
                  <img [src]="(documentTitle | commonService : 'getFileImage': true)" width="20px" />
                  <span class="pl-12">{{documentTitle}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="info-block">
            <h2 class="mb-8">Select File</h2>
            <p>Select file from your local system to upload.</p>
            <div class="d-inline-block">
              <div class="alert alert-warning d-flex justify-content-between mb-24" role="alert"
                *ngIf="documentData && documentData.isFillableTemplate">
                <div class="d-flex">
                  <em class="alert-icon icon icon-warning"></em>
                  <div class="d-flex align-items-center flex-wrap">
                    <h4 class="mr-16 mt-0 mb-4">Warning</h4>
                    The document being replaced is a fillable template.&nbsp;<b> Only PDF file type can be selected.</b>
                  </div>
                </div>
              </div>
              <div class="upload-check d-inline-block position-relative">
                <form id="fileForm">
                  <input #file type="file" *ngIf="documentData && !documentData.isFillableTemplate"
                    (change)="selectedFile(file.files)" id="inpuFile">
                  <input #file type="file" *ngIf="documentData && documentData.isFillableTemplate"
                    accept="application/pdf" (change)="selectedFile(file.files)" id="inpuFile">
                </form>
                <span class="btn btn-primary"> Select File</span>
              </div>
              <p class="pt-12 pb-2 fs-11">Maximum upload file size: 25 MB</p>
            </div>
            <div class="alert alert-warning d-flex justify-content-between mb-24" role="alert"
              *ngIf="signatureHistoryWarning && fileData && esignEnabled">
              <div class="d-flex">
                <em class="alert-icon icon icon-warning"></em>
                <div class="d-flex align-items-center flex-wrap">
                  <h4 class="mr-16 mt-0 mb-4">Warning</h4>
                  Replacing this document will remove its signature history. If the document is currently out for
                  signatures, any signatures on the old version will not be updated to this document.
                </div>
              </div>
              <span class="alert-close" (click)="signatureHistoryWarning = false"><em
                  class="icon icon-close"></em></span>
            </div>
            <div class="upload-file-group d-block mb-2" *ngIf="fileData">
              <div class="px-16 pb-8">
                <div class="row gutter-16">
                  <div class="col-3">
                    <span class="label mb-0 d-block">File Name</span>
                  </div>
                  <div class="col-3">
                    <span class="label mb-0 d-block">Document Name</span>
                  </div>
                  <div class="col-3">
                    <span class="label mb-0 d-block">Document Attribute</span>
                  </div>
                </div>
              </div>
              <div class="upload-file-block" *ngIf="!fileData.isFileSizeError">
                <div class="row gutter-16">
                  <div class="col-3">
                    <div class="uploaded-file-name py-8 px-0">
                      <div class="d-flex align-items-center font-weight-medium small lh-24">
                        <img [src]="(fileData.name| commonService : 'getFileImage')" width="20px">
                        <span
                          class="pl-12">{{(fileData.name.length > 24) ? (fileData.name | slice:0:24) +'...'+ (fileData.name | commonService : 'getFileExtension') :  fileData.name}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group mb-0" [class.has-error]="fileData.isExistError">
                      <input type="text" formControlName="nameOfFile" class="form-control"
                        [readOnly]="" placeholder="Provide name" id="provide-name">
                      <span class="field-message text-danger d-flex align-items-start" *ngIf="fileData.isExistError">
                        <em class="icon icon-error mr-4 mt-0"></em>
                        {{ errorData.document_exists_err_replace }}
                      </span>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group mb-0">
                      <app-multiselect-dropdown [showSearch]="false" [unsort]="true" [title]="title" [selections]="selectedAttArr" [displaySubItem]="attributesArray" [filterName]="'Apply Attributes'" [selectedMessage]="'attributes selected'" (onSelectionChanged)="getAttributeSelected($event)" (clearFilter)="clrAttributes()" id="attribute-multi"></app-multiselect-dropdown>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="d-flex align-items-center justify-content-between pt-12 badge-dots-block">
                      <div class="d-flex align-items-center pr-8">
                        <!-- <span *ngIf="!fileData.isScanFailed && !fileData.isScanPassed"
                          class="sh-badge text-nowrap font-weight-medium sh-badge-primary" id="scan-progress">Security
                          Scan In Progress</span>
                        <span *ngIf="fileData.isScanPassed"
                          class="sh-badge text-nowrap font-weight-medium sh-badge-success" id="scan-passed">Security
                          Scan Passed</span>
                        <span *ngIf="fileData.isScanFailed"
                          class="sh-badge text-nowrap font-weight-medium sh-badge-danger" id="scan-failed">Security
                          Scan Failed</span>
                        <div *ngIf="fileData.isScanFailed && fileData?.virusDetails"
                          class="info-hover position-relative ml-8">
                          <em class="icon icon-info"></em>
                          <div class="tooltip bs-tooltip-bottom" role="tooltip">
                            <div class="arrow"></div>
                            <div class="tooltip-inner">
                              <h6 class="font-weight-medium my-0">Security Scan Failed
                              </h6>
                              <p>{{fileData?.virusDetails+' detected'}}</p>
                            </div>
                          </div>
                        </div> -->
                      </div>
                      <div class="dropdown dropdown-hover-table actionTrigger" [class.active]="currentIndex"
                        appAutoCloseOutsideClick (outsideClick)="currentIndex = false" (click)="openSubMenu()">
                        <span class="icon-area">
                          <em class="icon icon-dot-verti"></em>
                        </span>
                        <div *ngIf="currentIndex" class="dropdown-menu dropdown-menu-right mt-8">
                          <!-- <a *ngIf="fileData.isScanFailed || fileData.isExistError" href="javascript:void(0);"
                            class="dropdown-item" (click)="currentIndex=false;retryScan();" id="retry-scan">
                            Retry Scan
                          </a> -->
                          <a href="javascript:void(0);" class="dropdown-item"
                            (click)="currentIndex=false;removeImage();" id="remove-document">
                            Remove document
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="upload-file-block upload-file-error d-flex justify-content-between align-items-center p-16"
                *ngIf="fileData.isFileSizeError">
                <div class="d-flex align-items-center font-weight-medium small helper-text">
                  <img [src]="(fileData.name| commonService : 'getFileImage')" width="20px">
                  <span
                    class="ml-12">{{(fileData.name.length > 24) ? (fileData.name | slice:0:24) +'...'+ (fileData.name | commonService : 'getFileExtension')  :  fileData?.name}}</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <em class="icon icon-error text-danger mr-8"></em>
                    <span class="small lh-16">Files must be no larger than 25 MB in size</span>
                  </div>
                  <span class="ml-24">
                    <em class="icon icon-close-fill text-large cursor-pointer icon-color" (click)="removeImage()" id="remove-img"></em>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="info-block pt-48" *ngIf="fileData">
            <div class="row">
              <div class="col-12">
                <h2 class="mb-8">Notify Shared Users</h2>
                <div *ngIf="!sharedUserList || !sharedUserList.length" class="mb-16">
                  <em class="alert-icon icon icon-info text-primary"></em>
                  <strong class="text-align-top ml-3">This document has not been shared yet. Please share the document
                    to enable settings below.</strong>
                </div>
                <p class="mb-16 col-5 lh-20 pl-0" [class.text-disabled]="!sharedUserList || !sharedUserList.length">
                  Optionally search for and select internal employees and notify
                  them that the document is being replaced.
                </p>
                <div class="search-group position-relative search-area-visible col-5 pl-0" appAutoCloseOutsideClick
                  (outsideClick)="onClickedOutside($event)"
                  [ngClass]="{'search-area-visible':!selectedTextVisible && selectedEmployeeCount > 0 }">
                  <span class="count-badge d-flex align-items-center get-width"
                    *ngIf="selectedEmployeeCount > 0">{{selectedEmployeeCount}}<span class="cursor-pointer"
                      (click)="removeAllNotify()"><em class="icon icon-close"></em></span></span>
                  <span class="selected-employee" *ngIf="selectedEmployeeCount > 0 && selectedTextVisible "
                    (click)="manageLable()">employees selected</span>
                    <div class="position-relative">
                      <span class="search-icn"></span>
                      <input type="text" class="form-control custom-padding"
                      [readOnly]="!sharedUserList || !sharedUserList.length" placeholder="Seach for employees"
                      (click)="toggleClass()" formControlName="searchterm" (keyup)="filterNotifyUsers()">
                  </div>
                  <div class="search-group-result px-0 mt-4" *ngIf="aettornyList.length || sharedUserList.length"
                    [ngClass]="{'d-none':!classApplied}">
                    <div class="search-result px-16 multi-select-with-label" malihu-scrollbar
                      [scrollbarOptions]="scrollbarOptions">
                      <div>
                        <h5 class="d-inline-block text-large lh-20 mt-8 mb-16">All results</h5>
                      </div>
                      <div class="notify-wrap">
                        <div class="notify-panel" *ngIf="clientId && aettornyList && aettornyList.length">
                          <h5 class="my-0">Attorney</h5>
                          <div>
                            <div class="notify-search-block d-flex align-items-start py-12"
                              *ngFor="let attr of aettornyList; trackBy: trackByFn;let i = index;">
                              <div class="custom-control custom-checkbox pr-0">
                                <input type="checkbox" class="custom-control-input" id="attorney-{{i+1}}"
                                  [checked]="attr.checked"
                                  (change)="changeNotifySelection($event, attr, i, 'attorney')">
                                <label class="custom-control-label" for="attorney-{{i+1}}"></label>
                              </div>
                              <div class="pl-8">
                                
                                <span
                                  class="d-block">{{ (attr.lastName) ? attr.lastName + ', ' + attr.firstName : attr.firstName}}
                                </span>
                                <span class="small helper-text font-weight-medium d-block mt-4">{{attr?.email}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="notify-panel" *ngIf="sharedUserList.length">
                          <h5 class="my-0">Other</h5>
                          <div>
                            <div class="notify-search-block d-flex align-items-start py-12"
                              *ngFor="let othr of sharedUserList; trackBy: trackByFn;let i = index;">
                              <div class="custom-control custom-checkbox pr-0">
                                <input type="checkbox" class="custom-control-input"
                                  id="attorney-{{aettornyList?.length + i +1}}" [checked]="othr.checked"
                                  (change)="changeNotifySelection($event, othr, i, 'other')">
                                <label class="custom-control-label"
                                  for="attorney-{{aettornyList?.length + i +1}}"></label>
                              </div>
                              <div class="pl-8">
                                <span
                                  class="d-block">{{ (othr.lastName) ? othr.lastName + ', ' + othr.firstName : othr.firstName}}
                                </span>
                                <span class="small helper-text font-weight-medium d-block mt-4">{{othr?.email}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="info-block pt-40" *ngIf="clientId && fileData">
            <div class="row">
              <div class="col-5">
                <p class="mb-16 lh-20" [class.text-disabled]="!sharedUserList || !sharedUserList.length">
                  Optionally select external users that this document is shared with and notify them that the document
                  is being replaced.</p>
                <div class="custom-control custom-radio">
                  <input type="radio" id="notify-radio1" (change)="changedRadio()" name="shared_option"
                    value="do_not_share" class="custom-control-input" formControlName="shared_option" checked>
                  <label class="custom-control-label" [class.text-disabled]="!sharedUserList || !sharedUserList.length"
                    for="notify-radio1">Do not share</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="notify-radio2" (change)="changedRadio()" name="shared_option"
                    value="all_external_user" class="custom-control-input" formControlName="shared_option">
                  <label class="custom-control-label" [class.text-disabled]="!sharedUserList || !sharedUserList.length"
                    for="notify-radio2">All external users</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="notify-radio3" (change)="changedRadio()" name="shared_option"
                    value="selected_external_user" class="custom-control-input" formControlName="shared_option">
                  <label class="custom-control-label" [class.text-disabled]="!sharedUserList || !sharedUserList.length"
                    for="notify-radio3">Selected external users</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="documentForm.value.shared_option == 'selected_external_user'">
            <div class="col-5">
              <div class="custom-box">
                <ul class="list-unstyled m-0 multiselect-dropdown-list custom-height-replace-document" slimScroll
                  [options]="opts" [scrollEvents]="scrollEvents">
                  <li class="multiselect-dropdown-item" *ngFor="let extrnl of externalUserList; trackBy: trackByFn;let i = index;">
                    <div class="custom-control custom-checkbox m-0 pr-0">
                      <input type="checkbox" class="custom-control-input" id="dropcheck-{{i+1}}"
                        (change)="changeExternalSelection($event, extrnl, i)" [checked]="extrnl.checked">
                      <label class="custom-control-label cursor-pointer full-width d-block" for="dropcheck-{{i+1}}">
                        <div class="d-flex justify-content-between">
                          <h4 class="m-0">{{extrnl.name}}</h4>
                          <span class="small helper-text" *ngIf="extrnl.securityGroup == 'ExternalUser'">External
                            User</span>
                          <span class="small helper-text"
                            *ngIf="extrnl.securityGroup != 'ExternalUser'">{{extrnl.securityGroup}}</span>

                        </div>
                        <span class="d-block small helper-text lh-16"> {{ extrnl.email }}</span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-end pb-24">
      <div class="btn-group">
        <button type="button" (click)="manageRouting()" class="btn btn-light" id="cancel-btn">Cancel</button>
        <button type="button" class="btn btn-primary"
          [disabled]="!documentForm.valid || !fileData || fileData?.isExistError || fileData?.isFileSizeError"
          (click)="sendFileForUpload({isCancel: false, isUpload: true,isVerify: false,isScanOnly: false})" id="replace-doc-btn">Replace
          Document</button>
      </div>
    </div>
  </div>
  <app-loader [active]="!!loading"></app-loader>
</div>
