.warning-charge-code-input {
    border: 2px solid #ffa500c9;
    background-color: #fff7ec;
}

.warning-charge-code-message {
    border-left: 4px solid #ffb64d;
    background-color: #fff7ec;
}

h5, .h5 {
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.disable-input {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
}

.char-counter {
    float: right;
    font-weight: 500;
    margin-bottom: 4px;
    color: #5d6a86;
    font-size: 12px;
    line-height: 16px;
}

.f-c {
    color: #5d6a86;
}
