<div class="card-body" [class.bill-open]="showPayementMethod">
  <div class="bd-header">
    <div class="d-flex align-items-start justify-content-between bill-title">
      <h3 class="fs-22 m-0">Payment Method</h3>
      <div class="d-flex">
        <div class="btn-group">
          <button type="button" *ngIf="hasPermissionToAdd" (click)="addPaymentMethod()" class="btn btn-primary">Add
            Credit Card</button>
          <button type="button" *ngIf="hasPermissionToAdd" (click)='addPaymentMethod(2)'
            class="btn btn-primary">Add E-Check</button>
        </div>
        <span class="cursor-pointer bil-arrow" (click)="displayPaymentMethod()">
          <em class="icon icon-angle-down"></em>
        </span>
      </div>
    </div>
  </div>
  <div class="bd-body bg-white mx-n24 pt-24 bd-overflow-hidden d-block" *ngIf="showPayementMethod" [class.pt-24]="creditCardList?.length || echeckList?.length">
    <div class="pb-32" *ngIf="creditCardList?.length">
      <h4 class="text-xlarge mb-16 helper-text px-24">Credit Card</h4>
      <div class="custom-table">
        <div class="table-responsive payment-method-table">
          <ngx-datatable #tablematterTypes class="material common-table no-min-height" [rows]="creditCardList"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="footerHeight" rowHeight="auto"
            [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [rowClass]="getRowClass"
            id="credit-card-method-tbl">
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="lastName" name="Name on Card"
              [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf='!row.isCompany'> {{ row.lastName}}, {{row.firstName}}</span>
                <span *ngIf='row.isCompany'> {{ row.companyName }}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="cardNumber" name="Card Number"
              [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{value | appCreditCardNumber}}</span>
              </ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="expirationDate" name="Billing Address"
              [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="lh-20">
                  <div class="lh-20">
                    {{primaryAddress?.address}}<br>
                    {{primaryAddress?.address2}} <br>
                    {{primaryAddress?.city}} {{primaryAddress?.state}}
                    {{primaryAddress?.zip}}
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="expirationDate" name="Expiration Date"
              [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span> {{row.expiryDate || row.expirationDate}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" *ngIf="!potentialClientDetails"
                                  [sortable]='false' prop="autoPay"
                                  [headerClass]="'text-center'"
              name="Auto Pay" [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center sh-status-success">
                  <em *ngIf='value' class="alert-icon icon icon-check-circle icon-success vertical-align-sub"></em>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' *ngIf="!potentialClientDetails"
                                  prop="accountNumber" name="Auto-Pay Status"
              [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf='row.autoPay'>
                  <span *ngIf='row.suspendAutoPay'>Suspended</span>
                  <span *ngIf='!row.suspendAutoPay'>Active</span>
                </span>
                <span *ngIf='!row.autoPay'>-</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="isSameAsPrimary"
              [headerClass]="'text-center'" name="Address Same as Primary" [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center">
                  <em *ngIf='value' class="icon icon-check font-10"></em>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="hasPermissionToAdd" [resizeable]="false" [headerClass]="'text-right'"
              [sortable]="false" name="Action" [width]="100">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div class="icon-group d-flex justify-content-end">
                  <span>
                    <em class="icon icon-edit icon-color" (click)='editCreditCard(row, $event)'
                      id="edit-creditcard-index-{{rowIndex}}"></em>
                  </span>
                  <span>
                    <em class="icon icon-remove icon-color" (click)='deleteCreditCard(row, $event)'
                      id="delete-creditcard-index-{{rowIndex}}"></em>
                  </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="d-flex justify-content-between flex-fill">
                  <div class="d-flex align-items-center">
                    <div class="table-items d-flex align-items-center mr-36">
                      Items per page:
                      <div class=" ml-8">
                        <select class="custom-select border-less" [formControl]="pageSelector"
                          (change)="changePageSize()">
                          <option *ngFor="let limit of limitArray;trackBy: trackByFn" [value]="limit">{{ limit }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <span>
                      {{(rowCount > 0 ? (( offset * pageSize ) + 1 ) : 0)}} -
                      {{(rowCount> (curPage*pageSize)) ? (curPage*pageSize):(rowCount)}} of
                      {{(rowCount > 1) ? (rowCount) +' items' : (rowCount) +' item'}}
                    </span>
                  </div>
                  <div class="d-flex align-items-center">
                    <select class="custom-select border-less" [(ngModel)]="pageSelected" (change)="changePage()">
                      <option *ngFor='let num of page.totalPages | counterPipe;trackBy: trackByFn;let i= index'
                        [value]="i+1">
                        Page {{ i+1 }}
                        of {{(page.totalPages==0?1:page.totalPages)}}
                      </option>
                    </select>
                    <div class="ml-8">
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left icon icon-angle-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right icon icon-angle-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="tablematterTypes.onFooterPage($event);pageChange($event)">
                      </datatable-pager>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <app-loader [active]="ccLoading"></app-loader>
    <div *ngIf="echeckList?.length">
      <h4 class="text-xlarge mb-16 helper-text px-24">E-Check</h4>
      <div class="custom-table">
        <div class="table-responsive payment-method-table">
          <ngx-datatable #tableECheck class="material common-table no-min-height" [rows]="echeckList"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="eCheckFooterHeight" rowHeight="auto"
            [count]="pageECheck.totalElements" [offset]="pageECheck.pageNumber" [limit]="pageECheck.size"
            [rowClass]="getRowClass" id="echeck-method-tbl">
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="firstName" name="Name on Account"
              [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{(row.lastName)? row.lastName+', ':''}}{{row.firstName}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="routingNumber" name="Routing Number"
              [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{value | appRoutingNumber}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="accountNumber" name="Account Number"
              [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="value"> ---- ---- {{value  | slice:(value.length - 4)}}</span>
                <span *ngIf="!value"> ---- ---- ----</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="!potentialClientDetails" [resizeable]="false" [sortable]='false' [headerClass]="'text-center'" prop="autoPay"
              name="Auto Pay" [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center sh-status-success">
                  <em *ngIf='value' class="alert-icon icon icon-check-circle icon-success vertical-align-sub"></em>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="!potentialClientDetails" [resizeable]="false" [sortable]='false' prop="accountNumber" name="Auto-Pay Status"
              [width]="100">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf='row.autoPay'>
                  <span *ngIf='row.suspendAutoPay'>Suspended</span>
                  <span *ngIf='!row.suspendAutoPay'>Active</span>
                </span>
                <span *ngIf='!row.autoPay'>-</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [resizeable]="false" [sortable]='false' prop="isSameAsPrimary"
              [headerClass]="'text-center'" name="Address Same as Primary" [width]="150">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="text-center">
                  <em *ngIf='value' class="icon icon-check font-10"></em>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="hasPermissionToAdd" [resizeable]="false" [headerClass]="'text-right'"
              [sortable]="false" name="Action" [width]="100">
              <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div class="icon-group d-flex justify-content-end">
                  <span>
                    <em class="icon icon-edit icon-color" (click)='editECheck(row, $event)'
                      id="edit-echeck-index-{{rowIndex}}"></em>
                  </span>
                  <span>
                    <em class="icon icon-remove icon-color" (click)='deleteECheck(row, $event)'
                      id="delete-echeck-index-{{rowIndex}}"></em>
                  </span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <div class="d-flex justify-content-between flex-fill">
                  <div class="d-flex align-items-center">
                    <div class="table-items d-flex align-items-center mr-36">
                      Items per page:
                      <div class=" ml-8">
                        <select class="custom-select border-less" [formControl]="pageECheckSelector"
                          (change)="changeECheckPageSize()">
                          <option *ngFor="let limit of limitArray;trackBy: trackByFn" [value]="limit">{{ limit }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <span>
                      {{(rowCount > 0 ? (( offset * pageSize ) + 1 ) : 0)}} -
                      {{(rowCount> (curPage*pageSize)) ? (curPage*pageSize):(rowCount)}} of
                      {{(rowCount > 1) ? (rowCount) +' items' : (rowCount) +' item'}}
                    </span>
                  </div>
                  <div class="d-flex align-items-center">
                    <select class="custom-select border-less" [(ngModel)]="pageECheckSelected"
                      (change)="changeECheckPage()">
                      <option *ngFor='let num of pageECheck.totalPages | counterPipe;trackBy: trackByFn;let i= index'
                        [value]="i+1">
                        Page {{ i+1 }}
                        of {{(pageECheck.totalPages==0?1:pageECheck.totalPages)}}
                      </option>
                    </select>
                    <div class="ml-8">
                      <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left icon icon-angle-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right icon icon-angle-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="tableECheck.onFooterPage($event);echeckPageChange($event)">
                      </datatable-pager>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <app-loader [active]="eCheckLoading"></app-loader>
    <div class="no-record-found d-flex align-items-center justify-content-center" *ngIf="!echeckList?.length && !creditCardList?.length">
      <span class="helper-text">No payment methods added</span>
    </div>
  </div>
</div>
