<div id="content-area" class="d-flex justify-content-between flex-column login-row">
  <div class="login-wraps flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="login-card">
        <div class="card-head text-center">
          <a  class="logo" href="javascript:void(0);"><img src="assets/images/default-logo-lexicon.png" alt=""></a>
        </div>
        <div class="card">
          <div class="card-body">
            <h2>Set Your New Password</h2>
            <form (ngSubmit)="setPassword()">
              <div class="form-group">
                <label for="">Password</label>
                <div class="form-control-cover">
                  <input type="text" *ngIf="viewPassword" name="password"  [(ngModel)]="password" placeholder="Set your password" (ngModelChange)="passChange()" class="form-control" id="password">
                  <input type="password" *ngIf="!viewPassword" name="password"  [(ngModel)]="password" placeholder="Set your password" (ngModelChange)="passChange()" class="form-control" id="password">
                  <em class="icon" [ngClass]="viewPassword ? 'icon-eye' : 'icon-eye-slash'" (click)="viewPassword=!viewPassword"></em>
                </div>
                <div *ngIf="!passwordFlag" class="d-flex justify-content-between align-items-center pwd-strength">
                  <span>Strength</span>
                  <em class=""><i></i> </em>
                </div>
                <div *ngIf="passwordFlag && password.length <= 9" class="d-flex justify-content-between align-items-center pwd-strength">
                  <em class="str-weak"><i></i></em>
                  <span>Weak</span>
                </div>
                <div *ngIf="passwordFlag && password.length <= 11 && password.length >= 10" class="d-flex justify-content-between align-items-center pwd-strength">
                  <em class="str-good"><i></i></em>
                  <span>Good</span>
                </div>
                <div *ngIf="passwordFlag && password.length >= 12" class="d-flex justify-content-between align-items-center pwd-strength">
                  <em class="str-strong"><i></i></em>
                  <span>Strong</span>
                </div>
              </div>
              <div class="strength-check mt-16">
                <p><em class="icon" [ngClass]="passValidArr.chrLength ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> 8 or more characters</p>
                <p><em class="icon" [ngClass]="passValidArr.oneCapital ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em>At least 1 capital letter</p>
                <p><em class="icon" [ngClass]="passValidArr.oneNumber ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> At least 1 number</p>
                <p><em class="icon" [ngClass]="passValidArr.oneSpecial ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> At least 1 special character (!, @, #, $, %, ^, &, *)</p>
              </div>
              <div class="d-flex justify-content-end pt-24">
                <div class="btn-group ">
                  <button type="submit" class="btn btn-primary" [disabled]="!passwordFlag" id="set-password-btn">Set Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="login-ftr">
    <div class="container">
      <p>Powered By</p>
      <img src="assets/images/lexicon-logo.svg" alt="">
    </div>
  </footer>
</div>
