
<div class="modal-header d-block">
  <h3 class="modal-title">Edit Employment Dates</h3>
  <button type="button" class="close" (click)="dismiss('Cross click')" aria-label="Close" id="close-btn">
    <em class="icon icon-close"></em>
  </button>
</div>
<div class="modal-body">
  <div class="form-group mb-0" [class.has-error]="(!employmentStartdt || isStartDateGreaterThanEndDate) && formSubmitted">
    <label>Employment Start Date <sup>*</sup></label>
    <app-date-picker [isNgModel]='true' [(data)]='employmentStartdt' id="employee-start-date"></app-date-picker>
    <span class="field-message text-danger"
          *ngIf="!employmentStartdt && formSubmitted">
      <em class="icon icon-error mr-4"></em>
      {{errorData.validation_startdate_required}}
    </span>
    <span class="field-message text-danger"
          *ngIf="isStartDateGreaterThanEndDate && formSubmitted">
      <em class="icon icon-error mr-4"></em>
      {{errorData.startdate_lessthen_enddate}}
    </span>
  </div>
  <div class="form-group mt-24 mb-0" *ngIf="!employee?.isVisible">
    <label>Employment End Date </label>
    <app-date-picker [isNgModel]='true' [(data)]='employmentEnddt' id="employee-end-date"></app-date-picker>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="dismiss('Cross click')" id="cancel-btn">Cancel</button>
  <button type="button" class="btn btn-primary" (click)='save()' id="save-btn">Save</button>
</div>
