<div class="container">
    <div class="main-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" [routerLink]="['/dashboard']"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <div class="heading">
            <h1>Settings</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <h2>Email Notifications</h2>
                <p>Select which email notifications you’d like to receive.</p>
                <div class="info-block ">
                    <h3 class="mb-16">Potential Clients</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">You've been assigned as a Consult
                                    Attorney</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-2" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-2">You've been removed as a Consult
                                    Attorney</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-3" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-3">A potential client has been
                                    converted to a client</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block pt-24">
                    <h3 class="mb-16">Matters</h3>
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">A new matter has been
                                            assigned to you</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">A Matter has been
                                            closed</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">A matter has been reassigned
                                            to a new office</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">A Matter has been
                                            reopened</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">You've been assigned as a
                                            Responsible Attorney</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox pr-0">
                                        <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                        <label class="custom-control-label" for="setting-1">A client's email address has
                                            been updated</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">You've been removed as a Responsible
                                    Attorney</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">You've been assigned as a Billing
                                    Attorney</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">You've been removed as a Billing
                                    Attorney</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block pb-24">
                    <h3 class="mb-16">Billing</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">A new charge code has been applied to an employee</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-2" type="checkbox" checked disabled>
                                <label class="custom-control-label" for="setting-2">A pre-bill requires your approval</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-3" type="checkbox" checked disabled>
                                <label class="custom-control-label" for="setting-3">Invoices are ready to be sent to clients</label>
                            </div>
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-3" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-3">Invoices have been sent for your matters</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block pb-24">
                    <h3 class="mb-16">Calendar</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">An external calendar has been connected to your profile</label>
                            </div>
                             
                        </div>
                    </div>
                </div>
                <div class="info-block pb-24">
                    <h3 class="mb-16">Timekeeping</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox pr-0">
                                <input class="custom-control-input" id="setting-1" type="checkbox" checked>
                                <label class="custom-control-label" for="setting-1">A time entry deadline is upcoming</label>
                            </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end pb-24">
            <div class="btn-group">
                <button type="button" class="btn btn-light">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>