<div class="modal-header pb-24">
  <h2 class="modal-title m-0">Edit Bill Issuance Frequency</h2>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='dismiss()'>
    <em class="icon icon-close"></em>
  </button>
</div>
<div class="modal-body edit-bill-fre-redesign">
  <ng-container *ngIf="!billingSettings?.effectiveBillFrequencyQuantity; else viewbillfrequency">
    <app-billing-period
      (sendValue)="getValue($event);"
      [isFormSubmitted]="formSubmitted"
      [pageType]="pageType"
      [officeId]="officeId"
      [visibleOpratingAccount]="'false'"
      [billingSettings]="billingSettings">
    </app-billing-period>
  </ng-container>
  <ng-template #viewbillfrequency>
    <h4 class="mt-0">Current Billing Issuance</h4>
    <div *ngIf="!billingSettings.isWorkComplete">
      <div class="form-group">
        <label class="d-block mb-4">Current Period</label>
        {{billingSettings?.billFrequencyStartingDate | date : 'MM/dd/yyyy'}}
        - {{billingSettings?.billFrequencyNextDate | date : 'MM/dd/yyyy'}}
      </div>
      <div class="form-group">
        <label class="d-block mb-4">Bill Every</label>
        {{billingSettings?.billFrequencyQuantity}} {{billFrequencyDurationName}}
      </div>
      <div class="form-group">
        <label class="d-block mb-4">Repeats on</label>
        <ng-container class="m-0 lh-20" *ngIf="billingSettings?.billFrequencyDuration?.code === 'WEEKS'">
          {{billFrequencyDayObj?.name}}
        </ng-container>
        <ng-container class="m-0 lh-20" *ngIf="billingSettings?.billFrequencyDuration?.code === 'MONTHS'">
          <ng-container *ngIf="billingSettings?.repeatType === 2; else viewAsMonthWeek">
            {{billingSettings?.billFrequencyRecursOn}}{{(billingSettings?.billFrequencyRecursOn === 1) ? 'st' :
            (billingSettings?.billFrequencyRecursOn === 2) ? 'nd' :
              (billingSettings?.billFrequencyRecursOn === 3) ? 'rd' : 'th'}} of the month
          </ng-container>
          <ng-template #viewAsMonthWeek>
            {{recurringName[billingSettings.billFrequencyRecursOn - 1]}} {{billFrequencyDayObj?.name}} of the month
          </ng-template>
        </ng-container>
      </div>
      <div class="form-group"
           *ngIf="billingSettings && billingSettings.effectiveBillFrequencyQuantity; else basicdetails">
        <p class="lh-20"
           *ngIf="billingSettings && billingSettings.billFrequencyDuration && billingSettings.billFrequencyDuration.code === 'WEEKS'">
          Pre-bills and invoices generate
          <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Week' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
          approximately midnight on&nbsp;<strong>{{billFrequencyDayObj?.name}}</strong> until
          <strong>{{billFrequencyEndDate}}</strong>.</p>
        <p class="lh-20"
           *ngIf="billingSettings && billingSettings.billFrequencyDuration && billingSettings.billFrequencyDuration.code === 'MONTHS'">
          <ng-container *ngIf="billingSettings?.repeatType === 2; else viewdetailsofdescription">
            Pre-bills and invoices generate
            <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Month' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight
            on&nbsp;<strong>the {{billingSettings?.billFrequencyRecursOn}}{{(billingSettings?.billFrequencyRecursOn === 1) ? 'st' :
            (billingSettings?.billFrequencyRecursOn === 2) ? 'nd' :
              (billingSettings?.billFrequencyRecursOn === 3) ? 'rd' : 'th'}}&nbsp;of the month</strong> until
            <strong>{{billFrequencyEndDate}}</strong>.
          </ng-container>
          <ng-template #viewdetailsofdescription>
            Pre-bills and invoices generate
            <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Month' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight on&nbsp;<strong>the {{recurringName[billingSettings.billFrequencyRecursOn - 1]}}&nbsp;{{billFrequencyDayObj?.name}}&nbsp;of
            the month</strong> until <strong>{{billFrequencyEndDate}}</strong>.
          </ng-template>
        </p>
      </div>
      <ng-template #basicdetails>
        <p
          *ngIf="billingSettings && billingSettings.billFrequencyDuration && billingSettings.billFrequencyDuration.code === 'WEEKS'">
          Pre-bills and invoices generate
          <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Week' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
          approximately midnight on&nbsp;<strong>{{billFrequencyDayObj?.name}}</strong>.</p>
        <p
          *ngIf="billingSettings && billingSettings.billFrequencyDuration && billingSettings.billFrequencyDuration.code === 'MONTHS'">
          <ng-container *ngIf="billingSettings?.repeatType === 2; else viewdetailsofdescription">
            Pre-bills and invoices will generate
            <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Month' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight
            on&nbsp;<strong>the {{billingSettings?.billFrequencyRecursOn}}{{(billingSettings?.billFrequencyRecursOn === 1) ? 'st' :
            (billingSettings?.billFrequencyRecursOn === 2) ? 'nd' :
              (billingSettings?.billFrequencyRecursOn === 3) ? 'rd' : 'th'}}&nbsp;of the month</strong>.
          </ng-container>
          <ng-template #viewdetailsofdescription>
            Pre-bills and invoices will generate
            <strong>every {{billingSettings?.billFrequencyQuantity}} {{billingSettings?.billFrequencyQuantity == 1 ? 'Month' : billingSettings?.billFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight on&nbsp;<strong>the {{recurringName[billingSettings.billFrequencyRecursOn - 1]}}&nbsp;{{billFrequencyDayObj?.name}}&nbsp;of
            the month</strong>.
          </ng-template>
        </p>
      </ng-template>
    </div>
    <div *ngIf="billingSettings.isWorkComplete">
      <span>Work Complete</span>
    </div>
  </ng-template>
  <div class="upcoming-change" *ngIf="billingSettings?.effectiveBillFrequencyQuantity && !upcomingChangesDisplay?.effectiveIsWorkComplete">
    <h4>Upcoming Changes</h4>
    <div class="upcome-accordian open">
      <div class="d-flex align-items-center upcome-head">
        <span class="cursor-pointer upcome-drop mr-16" (click)="showUpcoming = !showUpcoming">
          <em class="icon icon-angle-down icon-color" [ngClass]="showUpcoming ? 'icon-angle-down':'icon-angle-up'"></em>
        </span>
        <p class="m-0 lh-20"
           *ngIf="upcomingChangesDisplay && upcomingChangesDisplay.effectiveBillFrequencyDuration && upcomingChangesDisplay.effectiveBillFrequencyDuration.code === 'WEEKS'">
          Billing frequency will occur
          <strong>every {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity}} {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity == 1 ? 'Week' : upcomingChangesDisplay?.effectiveBillFrequencyDuration?.name}}</strong>&nbsp;at
          approximately midnight on&nbsp;<strong>{{effectiveBillFrequencyDayObj?.name}}</strong>&nbsp;starting
          on&nbsp;<strong>{{upcomingChangesDisplay?.effectiveBillFrequencyStartingDate | date : 'MM/dd/yyyy'}}</strong>.
        </p>
        <p class="m-0 lh-20"
           *ngIf="upcomingChangesDisplay && upcomingChangesDisplay.effectiveBillFrequencyDuration && upcomingChangesDisplay.effectiveBillFrequencyDuration.code === 'MONTHS'">
          <ng-container *ngIf="billingSettings?.effectiveRepeatType === 2; else viewdetailsofdescriptionupcoming">
            Billing frequency will
            occur&nbsp;<strong>every {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity}} {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity == 1 ? 'Month' : upcomingChangesDisplay?.effectiveBillFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight
            on&nbsp;<strong>the {{upcomingChangesDisplay?.effectiveBillFrequencyRecursOn}}{{(upcomingChangesDisplay?.effectiveBillFrequencyRecursOn === 1) ? 'st' :
            (upcomingChangesDisplay?.effectiveBillFrequencyRecursOn === 2) ? 'nd' :
              (upcomingChangesDisplay?.effectiveBillFrequencyRecursOn === 3) ? 'rd' : 'th'}}&nbsp;of the
            month</strong>&nbsp;starting
            on&nbsp;<strong>{{upcomingChangesDisplay?.effectiveBillFrequencyStartingDate | date : 'MM/dd/yyyy'}}</strong>.
          </ng-container>
          <ng-template #viewdetailsofdescriptionupcoming>
            Billing frequency will occur
            <strong>every {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity}} {{upcomingChangesDisplay?.effectiveBillFrequencyQuantity == 1 ? 'Month' : upcomingChangesDisplay?.effectiveBillFrequencyDuration?.name}}</strong>&nbsp;at
            approximately midnight
            on&nbsp;<strong>the {{recurringName[upcomingChangesDisplay.effectiveBillFrequencyRecursOn - 1]}}&nbsp;{{effectiveBillFrequencyDayObj?.name}}&nbsp;of
            the month</strong>&nbsp;starting
            on&nbsp;<strong>{{upcomingChangesDisplay?.effectiveBillFrequencyStartingDate | date : 'MM/dd/yyyy'}}</strong>.
          </ng-template>
        </p>
        <div class="upcome-icon-action d-flex align-items-center pl-16" *ngIf="!editBillUpcoming">
          <span class="cursor-pointer" (click)="editUpcoming()">
            <em class="icon icon-edit icon-color"></em>
          </span>
          <span class="cursor-pointer ml-16" (click)="removeBillUpcoming = !removeBillUpcoming">
            <em class="icon icon-remove icon-color"></em>
          </span>
        </div>
      </div>
      <div class="upcome-body pt-24 pl-32" *ngIf="showUpcoming">
        <ng-container *ngIf="!editBillUpcoming">
          <div class="form-group">
            <label class="d-block mb-4">Effective Period</label>
            {{billingSettings?.effectiveBillFrequencyStartingDate | date : 'MM/dd/yyyy'}}
            - {{billingSettings?.effectiveBillFrequencyNextDate | date : 'MM/dd/yyyy'}}
          </div>
          <div class="form-group">
            <label class="d-block mb-4">Bill Every</label>
            <ng-container
              *ngIf="billingSettings && billingSettings.effectiveBillFrequencyDuration && billingSettings.effectiveBillFrequencyDuration.code === 'WEEKS'">
              {{billingSettings?.effectiveBillFrequencyQuantity}} {{billingSettings?.effectiveBillFrequencyQuantity == 1 ? 'Week' : billingSettings?.effectiveBillFrequencyDuration?.name}}
            </ng-container>
            <ng-container
              *ngIf="billingSettings && billingSettings.effectiveBillFrequencyDuration && billingSettings.effectiveBillFrequencyDuration.code === 'MONTHS'">
              {{billingSettings?.effectiveBillFrequencyQuantity}} {{billingSettings?.effectiveBillFrequencyQuantity == 1 ? 'Month' : billingSettings?.effectiveBillFrequencyDuration?.name}}
            </ng-container>
          </div>
          <div class="form-group mb-0">
            <label class="d-block mb-4">Repeats on</label>
            <ng-container class="m-0 lh-20" *ngIf="billingSettings?.effectiveBillFrequencyDuration?.code === 'WEEKS'">
              {{effectiveBillFrequencyDayObj?.name}}
            </ng-container>
            <ng-container class="m-0 lh-20"
                          *ngIf="billingSettings?.effectiveBillFrequencyDuration?.code === 'MONTHS'">
              <ng-container *ngIf="billingSettings?.effectiveRepeatType === 2; else viewAsMonthWeekupcoming">
                {{billingSettings?.effectiveBillFrequencyRecursOn}}{{(billingSettings?.effectiveBillFrequencyRecursOn === 1) ? 'st' :
                (billingSettings?.effectiveBillFrequencyRecursOn === 2) ? 'nd' :
                  (billingSettings?.effectiveBillFrequencyRecursOn === 3) ? 'rd' : 'th'}} of the month
              </ng-container>
              <ng-template #viewAsMonthWeekupcoming>
                {{recurringName[billingSettings.effectiveBillFrequencyRecursOn - 1]}} {{billFrequencyDayObj?.name}} of
                the
                month
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="editBillUpcoming">
          <app-billing-period-upcoming
            (sendValue)="getValue($event);"
            (updateValue)="updateValue($event);"
            [pageType]="pageType"
            [isFormSubmitted]="formSubmitted"
            [officeId]="officeId"
            [billingSettings]="billingSettings">
          </app-billing-period-upcoming>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="removeBillUpcoming" class="alert alert-warning d-flex justify-content-between mb-24 mt-32 no-shadow">
    <div class="d-flex flex-fill">
      <em class="alert-icon icon icon-warning"></em>
      <div class="d-flex align-items-start justify-content-between flex-fill">
        <div>
          <h4 class="mr-16 mt-0 mb-4">Warning</h4>
          Are you sure you want to delete the upcoming billing frequency settings?<br>
          This will leave the current settings active.
        </div>
        <a href="javascript:void(0)" (click)="removeUpcoming()" class="font-weight-semibold">Delete</a>
      </div>
    </div>
  </div>
  <div *ngIf="updateBillUpcoming" class="alert alert-warning d-flex justify-content-between mb-24 mt-32 no-shadow">
    <div class="d-flex">
      <em class="alert-icon icon icon-warning"></em>
      <div class="d-flex align-items-center flex-wrap">
        <h4 class="mr-16 mt-0 mb-4">Warning</h4>
        Saving these changes will override the upcoming billing frequency settings.
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)='dismiss()'>Cancel</button>
  <button *ngIf="!billingSettings?.effectiveBillFrequencyQuantity" type="button" class="btn btn-primary"
          (click)='close()'>Save Changes
  </button>
  <button *ngIf="billingSettings?.effectiveBillFrequencyQuantity" type="button" class="btn btn-primary"
          (click)='close()' [disabled]="!editBillUpcoming">Save Changes
  </button>
</div>
