
.search-result-box .search-result{  max-height: 338px; overflow: auto;min-height: 70px;}
// .fc-toolbar.fc-header-toolbar .fc-left{flex: none;}
// .fc-toolbar.fc-header-toolbar .fc-center{flex: 1;
//   text-align: center;
//   display: flex;
//   justify-content: center;}
  .guests-row{
    .guests-list{
      .guests-item{
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
 
  .cust-readonlyinput:disabled {
    background-color: #D8DDE3 !important;
  }

.ng-select {
  caret-color: transparent;
}
.proposal-text {
  width: 190px;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mb-15 {
  margin-bottom: 15px !important;
}
