.checkRefund {
  border-radius: 5px;
  background-color: #f4f7f9;
  margin-left: 11px;
  padding: 5px 0;
}

.lblRefundCheck {
  margin-top: 11px !important;
}

.lblRefundCheckErr {
  float: right;
}

.lblRefundCheckDanger {
  border-color: #f44236 !important;
  background-color: #fdd9d7 !important;
  border: solid;
}

.lblViewCheckImage {
  float: right;
  color: blueviolet;
}

.mt--52 {
  margin-top: -52px !important;
}
