<div class="container">
  <div class="main-content">
    <ol class="breadcrumb" *ngIf="matterId">
      <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/matter/list']">Matters</a></li>
      <li class="breadcrumb-item" *ngIf="matterDetails && matterDetails.matterName">
        <a href="javascript:void(0)" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId: matterId}">
          {{ matterDetails?.matterName?.length >= 30 ? matterDetails?.matterName?.slice(0, 25) + '... -' : (matterDetails?.matterName | titlecase) + ' -'}}
          {{matterDetails?.matterNumber}}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Refund Client</li>
    </ol>
    <ol class="breadcrumb" *ngIf="clientId">
      <li class="breadcrumb-item" [routerLink]="['/dashboard']"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item" [routerLink]="['/contact/potential-client']"><a href="javascript:void(0)">Contacts</a>
      </li>
      <li class="breadcrumb-item" *ngIf='clientDetails'
        [routerLink]="['/contact/view-potential-client']" [queryParams]= "{clientId: clientId, state: state }"><a  href="javascript:void(0)">
          Contact Profile - {{ clientDetails?.isCompany ? clientDetails?.companyName : clientDetails?.firstName + ' ' + clientDetails?.lastName }}
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Refund Potential Client</li>
    </ol>
    <div class="heading section-area">
      <h1 *ngIf="matterId">Refund Client <span *ngIf='matterDetails'>- {{matterDetails?.matterName}}</span></h1>
      <h1 *ngIf="clientId">Refund Potential Client
        <span *ngIf='clientDetails'>
          - {{ clientDetails?.isCompany ? clientDetails?.companyName : clientDetails?.firstName + ' ' + clientDetails?.lastName }}
        </span>
      </h1>
      <app-loader [active]="loadingMatter"></app-loader>
    </div>
    <form [formGroup]="refundForm" *ngIf="step === 'post'">
      <div class="card">
        <div class="card-body">
          <h3 class="mb-24">Refund Details</h3>
          <div class="alert alert-primary d-flex justify-content-between mb-32 no-shadow col-8" id="alert">
            <div class="d-flex">
              <em class="alert-icon icon icon-info"></em>
              <div class="d-flex align-items-center flex-wrap">
                <h4 class="mr-16 mt-0 mb-0">Available funds</h4>
                Funds that are pending processing are not available for refund.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label>Refund Source</label>
              <div class="custom-control custom-radio pr-0" *ngIf="clientId">
                <input type="radio" id="rs0" formControlName="refundSource" class="custom-control-input" value="potentialClient"
                [checked]="true"
                  (change)="refundSourceChanged(POTENTIALCLIENT)">
                <label class="custom-control-label" for="rs0">Potential Client Balance</label>
                <span class="d-block helper-text font-weight-normal mt-8 balance-font small"><b>Balance</b>:
                  {{(pcBalance ? pcBalance : '0.00') | usdCurrency}}</span>
                <span *ngIf="operatingAccountList?.length == 1"
                  class="d-block helper-text font-weight-normal mt-8 mb-16 balance-font">
                  {{ operatingAccountName + ' ending in ' + (merchantAccountNumber | substrByLength : 4) || (merchantAccountNumber| substrByLength : 4)}}</span>
              </div>
              <div class="custom-control custom-radio pr-0" *ngIf="matterId">
                <input type="radio" id="rs0" formControlName="refundSource" class="custom-control-input" value="matter"
                  (change)="refundSourceChanged(MATTER)">
                <label class="custom-control-label" for="rs0">Matter Balance</label>
                <span class="d-block helper-text font-weight-normal mt-8 balance-font small"><b>Balance</b>:
                  {{(matterBalance ? matterBalance : '0.00') | usdCurrency}}</span>
                <span *ngIf="operatingAccountList?.length == 1" class="d-block helper-text font-weight-normal mt-8 mb-16 balance-font">
                  {{ operatingAccountName + ' ending in ' + (merchantAccountNumber | substrByLength : 4) || (merchantAccountNumber| substrByLength : 4)}}</span>
              </div>
              <div *ngIf="((operatingAccountList?.length > 1) || (operatingAccountList?.length == 0) && (matterDetails || clientDetails))" class="row pb-24">
                <div class="col-12" [class.has-error]="!selectedOperatingAccountList && errorOperatingAccount">
                  <ng-select [items]="operatingAccountList" [selectOnTab]="true" placeholder="Select Operating Account"
                    [(ngModel)]="selectedOperatingAccountList" [ngModelOptions]="{standalone: true}" [clearable]="false" [bindValue]="'usioBankAccountId'" [bindLabel]="'name'"
                    [notFoundText]="'No record found'" (change)="OnOperatingAccountChanged($event)" [disabled]="(refundForm.value.refundSource == PRIMARY) || (refundForm.value.refundSource == TRUST)">
                    <ng-template ng-option-tmp let-item="item">
                      <div>
                        <div class="font-weight-medium">
                          <span>
                            {{item?.name}}
                          </span>
                          <span *ngIf="item.name !== 'All'" class="name-text">
                            <span *ngIf="item?.merchantAccountNumber != null"
                              class="d-block small account-type-text helper-text font-weight-normal">{{ 'Account ending '+(item?.merchantAccountNumber | substrByLength : 4) }}</span>
                          </span>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                  <span class="field-message text-danger" *ngIf="errorOperatingAccount">
                    <em class="icon icon-error mr-4"></em>
                    {{ messages?.operating_account_required }}
                  </span>
                </div>
              </div>
              <div class="custom-control custom-radio pr-0" *ngIf="matterId">
                <input type="radio" id="rs1" formControlName="refundSource" class="custom-control-input" value="primary"
                  (change)="refundSourceChanged(PRIMARY)">
                <label class="custom-control-label" for="rs1">1 - Primary Retainer Trust</label>
                <span class="d-block helper-text font-weight-normal mt-8 balance-font small"><b>Balance</b>:
                  {{(currentBalance ? currentBalance : '0.00') | usdCurrency}}</span>
              </div>
              <div class="custom-control custom-radio pr-0" *ngIf="matterId">
                <input type="radio" id="rs2" formControlName="refundSource" class="custom-control-input" value="trust"
                  (change)="refundSourceChanged(TRUST)">
                <label class="custom-control-label" for="rs2">Trust-Only Account</label>
              </div>
              <div class="row" *ngIf="matterId">
                <div class="col-12" [class.ng-invalid]="!selectedTrust">
                  <ng-select [disabled]="(refundForm.value.refundSource == PRIMARY) || (refundForm.value.refundSource == MATTER)" [items]="allTrustAccountList"
                    placeholder="Select Trust" [(ngModel)]="selectedTrust" [ngModelOptions]="{standalone: true}"
                    [bindValue]="'id'" [bindLabel]="'text'" [notFoundText]="'No record found'"
                    (change)='trustChange($event)' [selectOnTab]="true" id="trust-account-list" [clearable]="false">
                  </ng-select>
                  <span class="field-message text-danger" [style.display]="(trustErrMsg) ? 'block': 'none'"
                    *ngIf="trustErrMsg">
                    <em class="icon icon-error mr-4"></em>
                    {{ trustErrMsg }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-3 pr-44">
              <div class="form-group" [ngClass]="{'has-error': dateErrMsg}" [class.ng-invalid]="dateErrMsg">
                <label>Date of Refund <sup>*</sup></label>
                <app-date-picker [isNgModel]='true' placeholderText="Select a refund date" [isForm]='true' [dateform]='refundForm'
                controlName='refundDate' (dataChange)='applyFilter()' id="refund-date"></app-date-picker>
                <span class="field-message text-danger" [style.display]="(dateErrMsg) ? 'block': 'none'" *ngIf="dateErrMsg">
                  <em class="icon icon-error mr-4"></em>
                  {{ dateErrMsg }}
                </span>
              </div>
            </div>
            <div class="col-5">
              <div class="form-group mb-12" [ngClass]="{'has-error': amountErrMsg, 'has-warning': (isMatterrefundResultInDue && !amountErrMsg && (refundForm.value.refundSource == MATTER) && refundAmount.value.length > 1) || (isPCrefundResultInDue && !amountErrMsg && refundAmount.value.length > 1 && refundForm.value.refundSource == POTENTIALCLIENT)}" [class.ng-invalid]="amountErrMsg">
                <label>Amount to Refund <sup>*</sup></label>
                <input #refundAmount type="text" min="0" class="form-control w-50" placeholder="$0.00" formControlName="refundAmount" prefix="$"
                mask="separator.2" thousandSeparator="," (keypress)="chkNumber($event, true)" (keyup)="validateAmount()"
                onclick="this.select();" [readonly]='refundFullAmount' (blur)='formatToMoney()' id="amount-to-refund">
                <span class="field-message text-danger d-flex" *ngIf="amountErrMsg">
                  <em class="icon icon-error mr-4 mt-2"></em>
                  <span class="mt-2">{{ amountErrMsg }}</span>
                </span>
                <div class="custom-control custom-checkbox mb-0 pr-0 pt-16">
                  <input type="checkbox" class="custom-control-input" id="refund" [(ngModel)]="refundFullAmount"
                    [ngModelOptions]="{standalone: true}" (change)="onRefundChange($event)">
                  <label class="custom-control-label" for="refund">Refund full amount</label>
                </div>
              </div>

              <div class="alert alert-warning d-flex justify-content-between mb-24" *ngIf="isMatterrefundResultInDue && !amountErrMsg && (refundForm.value.refundSource == MATTER) && refundAmount.value.length > 1">
                <div class="d-flex">
                  <em class="alert-icon icon icon-warning text-base"></em>
                  <div class="">
                    <h4 class="mr-36 mt-0 mb-4">Warning</h4>
                    This refund amount will result in a balance due on the matter.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [class.pt-24]='refundForm.value.refundSource != POTENTIALCLIENT' [class.ng-invalid]="!selectedPaymentMethod">
            <label>Refund Target</label>
            <div class="row gutter-16">
              <div class="col-6">
                <div class="alert alert-primary d-flex justify-content-between mb-12 mt-8" role="alert" *ngIf="isPaperCheckReq">
                  <div class="d-flex">
                    <em class="alert-icon icon icon-info"></em>
                    <div class="d-flex align-items-center flex-wrap">
                      This matter's office requires that the client be refunded via paper check.
                      Please verify your requirements before selecting any other option for refund.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div [class.row]='refundForm.value.refundSource == POTENTIALCLIENT'>
              <div [class.col-4]='refundForm.value.refundSource == POTENTIALCLIENT'>
                <div class="custom-control custom-radio pr-0 d-flex align-items-center" *ngFor="let paymentType of paymentMethodTypesList;trackBy :trackByFn;let i = index;">
                  <input type="radio" id="{{i}}" formControlName="refundTarget" [value]="paymentType.code"
                    (change)="selectPaymentMethod(paymentType)" class="custom-control-input">
                  <label class="custom-control-label" for="{{i}}">{{paymentType.name}}</label>
                  <div class="info-hover position-relative ml-8"
                  *ngIf="!isPaymentRestrict && ((((!selectedOperatingAccount?.isMerchantAccount
                  && (paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK'))
                  || (selectedOperatingAccount?.isMerchantAccount && paymentType?.code == 'CREDIT_CARD' && !selectedOperatingAccount?.isCreditCardAccount)
                  || (selectedOperatingAccount?.isMerchantAccount && paymentType?.code == 'E-CHECK' && !selectedOperatingAccount?.isAchAccount)) && selectedOperatingAccount) ||

                  (((!checkTrustPaymentMethod?.isMerchantAccount
                  && (paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK'))
                  || (checkTrustPaymentMethod?.isMerchantAccount && paymentType?.code == 'CREDIT_CARD' && !checkTrustPaymentMethod?.isCreditCardAccount)
                  || (checkTrustPaymentMethod?.isMerchantAccount && paymentType?.code == 'E-CHECK' && !checkTrustPaymentMethod?.isAchAccount)) && checkTrustPaymentMethod))
                  ">
                    <em class="icon icon-info icon-color text-large"></em>
                    <div class="tooltip bs-tooltip-top center" role="tooltip">
                      <div class="arrow"></div>
                      <div class="tooltip-inner">
                        <p class="m-0">The selected source account is not set up to process this type of refund.</p>
                      </div>
                    </div>
                  </div>

                  <div class="info-hover position-relative ml-8" *ngIf="refundForm.value.refundSource != MATTER  && refundForm.value.refundSource != POTENTIALCLIENT &&
                   (((paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK') && isPaymentRestrict )
                  || ((paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK') && checkTrustPaymentMethod?.isOfficeCreditCardAccount))">
                    <em class="icon icon-info icon-color text-large"></em>
                    <div class="tooltip bs-tooltip-top center" role="tooltip">
                      <div class="arrow"></div>
                      <div class="tooltip-inner">
                        <p class="m-0">You cannot refund from a trust account to credit account or e-check if a credit card
                          trust account is required for the matter.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3" *ngIf='refundForm.value.refundSource == POTENTIALCLIENT'></div>
              <div class="col-5 mt--52" *ngIf='refundForm.value.refundSource == POTENTIALCLIENT && refundForm?.value.refundAmount'>
                <div class="alert alert-warning d-flex justify-content-between mb-24" *ngIf="isPCrefundResultInDue && !amountErrMsg && refundAmount.value.length > 1">
                  <div class="d-flex">
                    <em class="alert-icon icon icon-warning text-base"></em>
                    <div class="">
                      <h4 class="mr-36 mt-0 mb-4">Warning</h4>
                      This refund amount will result in a balance due on the potential client.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <ng-container *ngIf="refundForm.value.refundTarget === 'E-CHECK'">
                <div class="row gutter-16 pt-24">
                  <div class="col-8">
                    <h4 class="text-xlarge mb-12">Select an existing E-Check</h4>
                    <div class="custom-table">
                      <div class="table-responsive">
                        <table class="table table-striped table-borderless" id="existing-e-check-listing">
                          <thead>
                            <tr>
                              <th>Select</th>
                              <th>Routing Number</th>
                              <th>Account Number</th>
                              <th>Bank</th>
                              <th class="ta-c">Auto-Pay</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let echeck of echeckList; trackBy :trackByFn;let i = index;" id="existing-e-check-{{i}}" [class.row-green]="echeck.autoPay">
                              <td>
                                <label class="cust-radio">
                                  <input type="radio" name="selectECheck" [(ngModel)]="selectedECheck"
                                    [ngModelOptions]="{standalone: true}" [value]="echeck.id" id="radio-{{i}}">
                                  <span class="radio-style" [class.row-green]="echeck.autoPay"></span>
                                </label>
                              </td>
                              <td>
                                {{echeck.routingNumber | appRoutingNumber}}
                              </td>
                              <td>---- ---- {{echeck?.accountNumber?.substr(echeck?.accountNumber?.length - 4)}}</td>
                              <td>
                                {{echeck['bankName']}}
                              </td>
                              <td>
                                <div class="text-center sh-status-success">
                                  <em *ngIf='echeck?.autoPay' class="alert-icon icon icon-check-circle icon-success vertical-align-sub"></em>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="refundForm.value.refundTarget === 'CREDIT_CARD'">
                <div class="row gutter-16 pt-24">
                  <div class="col-10">
                    <h4 class="text-xlarge mb-12">Select a credit card</h4>
                    <div class="custom-table">
                      <div class="table-responsive">
                        <table class="table table-striped table-borderless" id="credit-card-listing">
                          <thead>
                            <tr>
                              <th>Select</th>
                              <th>Name on Card</th>
                              <th>Card Number</th>
                              <th>Expiration Date</th>
                              <th>Card Type</th>
                              <th class="ta-c">Auto-Pay</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let card of creditCardList; trackBy :trackByFn;let i = index;" id="card-{{i}}" [class.row-green]="card.autoPay">
                              <td>
                                <label class="cust-radio">
                                  <input type="radio" [(ngModel)]="selectedCreditCard" [ngModelOptions]="{standalone: true}"
                                  [value]="card.id" id="selected-radio-{{i}}">
                                  <span class="radio-style" [class.row-green]="card.autoPay"></span>
                                </label>
                              </td>
                              <td>
                                {{card.firstName}} {{card.lastName}}
                                {{card.companyName}}
                              </td>
                              <td>---- ---- ---- {{card.cardNumber}} </td>
                              <td>
                                {{card.expirationDate}}
                              </td>
                              <td>
                                {{card?.cardType | cardType}}
                              </td>
                              <td>
                                <div class="text-center sh-status-success">
                                  <em *ngIf='card?.autoPay' class="alert-icon icon icon-check-circle icon-success vertical-align-sub"></em>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="refundForm.value.refundTarget === 'CHECK'">
                <div class="row gutter-16 pt-24">
                  <div class="col-4">
                    <div class="form-group">
                      <label>Check Number</label>
                      <input type="text" class="form-control" [(ngModel)]="checkNumber" [ngModelOptions]="{standalone: true}"
                        (keypress)="chkNumber($event)" placeholder="Enter check number" id="check-number">
                    </div>
                  </div>
                </div>

                <div class="row gutter-16 mt-8" *ngIf="!refundCheckUploadFile">
                  <div class="col-6">
                    <div class="form-group mb-16">
                      <button type="button" class="btn btn-primary btn-icon" (click)='selectFile()' id="upload-check"><i class="icon icon-upload"></i>
                        Upload check Image
                      </button>
                      <span class="ml-12"><i>Optional</i></span>
                      <form>
                        <input type="file" accept=".jpeg, .png" hidden #refundCheckImageInput
                          (change)='uploadFile(refundCheckImageInput.files)' id="file-hidden">
                      </form>
                      <span class="d-block font-weight-medium font-12 mt-8">File must be .jpeg or .png and Maximum upload file
                        size: 5MB</span>
                    </div>
                  </div>
                </div>

                <div class="row mt-8" *ngIf="refundCheck">
                  <div class="col-12">
                    <div [ngClass]="!this.refundCheckUploadFile?'uploaded-image-danger':''"
                      class="uploaded-image d-flex align-items-center justify-content-between p-16">
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/Calendar/image.svg" alt="" width="18">
                        <span class="small font-weight-medium ml-12"> {{selectedFile?.name}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="ml-12 mb-0 small d-flex align-items-center" *ngIf="refundCheckErr">
                          <em class="icon icon-error mr-8 text-danger text-large"></em>{{ refundCheckErrMsg }}
                        </div>
                        <div (click)="onRefundClose()" class="ml-24" id="refund-close">
                          <em class="icon icon-close-fill icon-color text-large cursor-pointer"></em>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-container>
            </div>
            <app-loader [active]='showPaymentTargetLoader'></app-loader>
          </div>

          <div class="row pt-24">
            <div class="col-10">
              <div class="form-group mb-0" [ngClass]="{'has-error': notesErrMsg}" [class.ng-invalid]="notesErrMsg">
                <label>Notes <sup>*</sup></label>
                <textarea class="form-control" rows="4" placeholder="Enter any notes regarding the refund"
                  formControlName="notes" (keyup)="validateInput('notes')" id="notes-textarea"></textarea>
                <span class="field-message text-danger" *ngIf="notesErrMsg">
                  <em class="icon icon-error mr-4"></em>
                  {{ notesErrMsg }}
                </span>
              </div>
            </div>
          </div>
          <app-loader [active]="loading"></app-loader>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-24 mb-12" *ngIf="step == 'post'">
      <div class="btn-group">
        <button *ngIf='matterId' type="button" class="btn btn-light p-0">
          <a class="p-12 px-24" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId:matterId}"
            id="cancel-btn">Cancel</a>
        </button>
        <button *ngIf='clientId' type="button" class="btn btn-light p-0">
          <a class="p-12 px-24" [routerLink]="['/contact/view-potential-client']" [queryParams]= "{clientId: clientId, state: state }"
            id="cancel-btn">Cancel</a>
        </button>
        <button type="button" class="btn btn-primary" (click)="checkAvailableRefunds(insufficientRefund)"
          id="review-refund-btn" [disabled]='loading'>Review Refund</button>
      </div>
    </div>
    <ng-container *ngIf="step === 'review'">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-warning d-flex justify-content-between mb-20 no-shadow" *ngIf="selectedPaymentMethod?.code == 'E-CHECK'">
            <div class="d-flex">
              <em class="alert-icon icon icon-warning"></em>
                <h4 class="mr-24 mt-0 mb-4">Warning</h4>
                <span>
                  Only one refund to e-check can be issued for each transaction paid into this account, whether you are issuing a partial or
                  full refund.<br>Any future refunds against the transaction will need to be issued via another method.
                </span>
            </div>
          </div>
          <div class="alert alert-warning d-flex justify-content-between mb-20 no-shadow"
            *ngIf="proceed == 'add check'">
            <div class="d-flex">
              <em class="alert-icon icon icon-warning"></em>
              <h4 class="mr-24 mt-0 mb-4">Warning</h4>
              <span>
                Your transaction will be split into two due to insufficient funds. You have chosen to refund the remaining amount of <b>{{refundCheckAmount | currency : 'USD' : 'symbol': '1.2-2'}}</b> by Check.<br>Both transactions are described below.
              </span>
            </div>
          </div>
          <h3>Review Refund</h3>
          <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert"
            *ngIf="errorMessage">
            <div class="d-flex align-items-center">
              <em class="alert-icon icon icon-error"></em>
              <div class="d-flex align-items-center flex-wrap">
                <h4 class="mr-20 mt-0 mb-0">Error </h4>
                {{faiMsg}} Reason: {{errorMessage}}
              </div>
            </div>

            <a href="javascript:void(0)" *ngIf='matterId' (click)="step='post'" class="font-weight-medium" id="return-to-refund">
              Return to Refund Client
            </a>

            <a href="javascript:void(0)" *ngIf='clientId' (click)="step='post'" class="font-weight-medium" id="return-to-refund">
              Return to Refund Potential Client
            </a>
          </div>
          <!-- <div class="row gutter-16"> -->
            <!-- <div class="col-12"> -->
              <div class="col-5">
                <!-- <div class="row gutter-16"> -->
                  <div class="row">
                    <div class="form-group" *ngIf="matterDetails">
                      <label class="d-block" >Matter Name</label>
                      {{matterDetails?.matterName}} - {{matterDetails?.matterNumber}}
                    </div>
                    <div class="form-group" *ngIf="clientDetails">
                      <label class="d-block">Potential Client Name</label>
                      {{ clientDetails?.isCompany ? clientDetails?.companyName : clientDetails?.firstName + ' ' + clientDetails?.lastName }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label class="d-block">Refund Source</label>
                      <span class="lh-16">{{refundForm.value.refundSource | refundSourceName}}</span>
                      <div *ngIf="selectedOperatingAccount" class="mt-3">
                        <span class="d-block lh-16">{{ selectedOperatingAccount?.name }}</span>
                        <span class="d-block lh-16"
                          *ngIf="selectedOperatingAccount?.isMerchantAccount && selectedOperatingAccount?.merchantAccountNumber">Account
                          ending in
                          {{ selectedOperatingAccount.merchantAccountNumber?.substr(selectedOperatingAccount.merchantAccountNumber?.length - 4)}}</span>
                        <span class="d-block lh-16"
                          *ngIf="!selectedOperatingAccount?.isMerchantAccount && selectedOperatingAccount?.nonMerchantAccountNumber">Account
                          ending in
                          {{ selectedOperatingAccount.nonMerchantAccountNumber?.substr(selectedOperatingAccount.nonMerchantAccountNumber?.length - 4) }}</span>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
            <!-- </div> -->

          <div class="col-3 px-0" [class.inline-grid]="proceed == 'add check'">
            <span class="d-block bolder-dark" *ngIf="proceed == 'add check'">Transaction 1</span>
            <div class="col-12">
              <div class="row">
                <div *ngIf="(selectedPaymentMethod?.code != 'E-CHECK' && selectedPaymentMethod?.code != 'CREDIT_CARD')" class="form-group 1">
                  <label class="d-block">Amount to Refund</label>
                  {{refundForm.value.refundAmount | currency : 'USD' : 'symbol': '1.2-2'}}
                </div>
                <div *ngIf="(selectedPaymentMethod?.code == 'E-CHECK' || selectedPaymentMethod?.code == 'CREDIT_CARD')" class="form-group 2">
                  <label class="d-block">Amount to Refund</label>
                  {{availableRefundDetails?.balance | currency : 'USD' : 'symbol': '1.2-2'}}
                </div>
              </div>
              <div class="row">
                <div class="form-group mb-0">
                  <label class="d-block">Refund Method </label>
                  <span *ngIf="refundForm.value.refundTarget == 'CASH'">Cash</span>
                  <span *ngIf="refundForm.value.refundTarget == 'CREDIT_CARD'"> Credit Card</span>
                  <span *ngIf="refundForm.value.refundTarget == 'CHECK'">Check</span>
                  <span *ngIf="refundForm.value.refundTarget == 'E-CHECK'"> E-Check</span>

                  <ng-container *ngIf="refundForm.value.refundTarget === 'CREDIT_CARD'">
                    <p class="mb-0" *ngIf="!selectedCreditCardDetails?.isCompany">
                      {{selectedCreditCardDetails?.firstName | titlecase }}
                      {{selectedCreditCardDetails?.lastName | titlecase }}</p>
                    <p class="mb-0" *ngIf="selectedCreditCardDetails.isCompany">
                      {{selectedCreditCardDetails?.companyName | titlecase}}</p>
                    <p class="mb-0">---- ---- ---- {{selectedCreditCardDetails?.cardNumber | titlecase}}</p>
                    <p class="mb-0">Exp: {{selectedCreditCardDetails?.expirationDate}}</p>
                    <p class="mb-0">
                      {{selectedCreditCardDetails?.cardType | cardType}}
                    </p>
                  </ng-container>
                  <ng-container *ngIf="refundForm.value.refundTarget === 'E-CHECK'">
                    <div class="row gutter-16">
                      <div class="col-12">
                        <div class="mb-0">
                          {{selectedECheckDetails?.routingNumber | appRoutingNumber}}
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-0">
                          ---- ----
                          {{selectedECheckDetails?.accountNumber?.substr(selectedECheckDetails?.accountNumber?.length - 4)}}
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-0">
                          {{selectedECheckDetails['bankName']}}
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="refundForm.value.refundTarget === 'CHECK'">
                    <div class="form-group mb-0 mt-24">
                      <label class="d-block">Check Number</label>
                      {{ checkNumber }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="refundForm.value.refundTarget === 'CHECK' && !!selectedFile?.name">
            <div class="col-12 pl-0 pt-8">
              <div class="uploaded-image d-flex align-items-center justify-content-between p-16">
                <div class="d-flex align-items-center">
                  <img src="../../../../../assets/images/Calendar/image.svg" alt="" width="18">
                  <span class="small font-weight-medium ml-12">{{selectedFile?.name}}</span>
                </div>
                <a href="javascript:void(0);" class="font-weight-medium"
                  (click)="open(viewRefundCheckModal,'','modal-lmd')">View Check Image</a>
              </div>
            </div>

            <ng-container *ngIf="refundForm.value.refundTarget === 'CREDIT_CARD'">
              <p class="mb-8" *ngIf="!selectedCreditCardDetails?.isCompany">
                {{selectedCreditCardDetails?.firstName | titlecase }}
                {{selectedCreditCardDetails?.lastName | titlecase }}</p>
              <p class="mt-16" *ngIf="selectedCreditCardDetails.isCompany">
                {{selectedCreditCardDetails?.companyName | titlecase}}</p>
              <p class="mb-8">---- ---- ---- {{selectedCreditCardDetails?.cardNumber | titlecase}}</p>
              <p class="mb-8">Exp: {{selectedCreditCardDetails?.expirationDate}}</p>
              <p class="mb-8">{{selectedCreditCardDetails?.cardType | titlecase}}</p>
            </ng-container>
            <ng-container *ngIf="refundForm.value.refundTarget === 'E-CHECK'">
              <div class="row gutter-16">
                <div class="col-5">
                  <div class="row gutter-16">
                    <div class="col-12">
                      <div class="mb-8">

                        {{selectedECheckDetails?.routingNumber | appRoutingNumber}}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-8">

                        ---- ----
                        {{selectedECheckDetails?.accountNumber?.substr(selectedECheckDetails?.accountNumber?.length - 4)}}
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-8">

                        {{selectedECheckDetails['bankName']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-3 inline-grid px-0" *ngIf="proceed == 'add check'">
            <span class="d-block bolder-dark">Transaction 2</span>
            <div class="col-12">
              <div class="row">
                <div class="form-group">
                  <label class="d-block">Amount to Refund</label>
                  {{refundCheckAmount | currency : 'USD' : 'symbol': '1.2-2'}}
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="d-block">Refund Method</label>
                  <span>Check</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label class="d-block">Check Number</label>
                  {{ checkNumber }}
                </div>
              </div>
            </div>
          </div>

          <!-- </div> -->
        </div>
        <app-loader [active]='showPostLoader'></app-loader>
      </div>
      <div class="d-flex justify-content-end pb-24">
        <div class="btn-group">
          <button *ngIf='matterId' type="button" class="btn btn-light p-0">
            <a class="p-12 px-24" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId:matterId}"
              id="cancel-btn">Cancel</a>
          </button>
          <button *ngIf='clientId' type="button" class="btn btn-light p-0">
            <a class="p-12 px-24" [routerLink]="['/contact/view-potential-client']" [queryParams]= "{clientId: clientId, state: state }"
              id="cancel-btn">Cancel</a>
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="step = 'post'; adjustPayment(); proceed = ''"
            id="back-btn">Back</button>
          <button type="button" class="btn btn-primary" (click)="refund()" [disabled]='showPostLoader'
            id="refund-client">Refund Client</button>
        </div>
      </div>
    </ng-container>

    <div class="card" *ngIf="step == 'confirm'">
      <div class="card-body">
        <h2 class="mb-24">Refund Confirmation</h2>
        <div class="alert alert-success d-flex justify-content-between" role="alert">
          <div class="d-flex">
            <em class="alert-icon icon icon-check-circle"></em>
            <div class="d-flex align-items-center flex-wrap">
              <h4 class="mr-36 mt-0 mb-4">Success</h4>
              Refund has been processed.
            </div>
          </div>
        </div>
        <app-loader [active]='showPostLoader'></app-loader>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-24" *ngIf="step == 'confirm'">
      <div class="btn-group" *ngIf='matterId'>
        <button type="button" class="btn btn-primary" [routerLink]="['/matter/dashboard']"
          [queryParams]="{matterId: matterId}" id="return-to-matter-dashboard-btn">Return to Matter Dashboard</button>
      </div>

      <div class="btn-group" *ngIf='clientId'>
        <button type="button" class="btn btn-primary" [routerLink]="['/contact/view-potential-client']" [queryParams]= "{clientId: clientId, state: state }"
           id="return-to-pc-profile-btn">Return to Potential Client Profile</button>
      </div>
    </div>
  </div>
</div>

<ng-template #viewRefundCheckModal let-modal>
  <div class="modal-header d-block pb-24">
    <h3 class="modal-title mb-0">Check Image - {{checkNumber}}</h3>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div class="" style="background-color: #c8ced4;">
      <img src={{this.refundCheckFileContent}} height="200px" width="580px">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')" id="close-btn">Close</button>
  </div>
</ng-template>

<ng-template #insufficientRefund let-modal>
  <div class="modal-header pb-24">
    <h3 class="modal-title mb-0">Insufficient Funds</h3>
    <button type="button" class="close" (click)="modal.close(null)" aria-label="Close">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body" *ngIf="!availableRefundDetails.isThirdStatShow">
    <div class="d-flex align-items-start missing-data">
      <em class="icon icon-warning text-warning" style="font-size: 22px;"></em>
      <div class="lh-20 ml-16">
        <p class="m-0 pr-36" *ngIf="availableRefundDetails.balance == 0 && !availableRefundDetails?.isACHFundsAvailable && (selectedPaymentMethod?.code == 'E-CHECK' || selectedPaymentMethod?.code == 'CREDIT_CARD')">
          All electronic transactions in the selected account have already been fully or partially refunded, and these must be refunded via a paper check.
          If you want to proceed, optionally enter the Check Number below.
        </p>
        <p class="m-0 pr-36" *ngIf="availableRefundDetails.balance != 0">
          Some funds in the selected account have been paid in via cash or paper check, and these must be refunded via a paper
          check. Of the <b>{{ (availableRefundDetails?.balance + refundCheckAmount) | usdCurrency }}</b> in the selected account,
          <b>{{ refundCheckAmount | usdCurrency }}</b> must be refunded by paper check. If you want to proceed,
          optionally enter the Check Number below.
        </p>
        <div class="row gutter-16 pt-24 pr-40">
          <div class="col-12">
            <div class="form-group">
              <label>Check Number</label>
              <input type="text" class="form-control" [(ngModel)]="checkNumber" [ngModelOptions]="{standalone: true}"
                (keypress)="chkNumber($event)" placeholder="Enter check number" id="check-number">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-body" *ngIf="availableRefundDetails.isThirdStatShow==true && availableRefundDetails.isACHFundsAvailable">
    <div class="d-flex align-items-start missing-data">
      <em class="icon icon-warning text-warning" style="font-size: 22px;"></em>
      <div class="lh-20 ml-16" *ngIf="selectedPaymentMethod?.code == 'E-CHECK'">
        <p class="mb-16">
          You have selected to refund a portion of funds that have not yet been processed by the payment gateway.
        </p>
        <p class="mb-8">
          You may only do one of the following:
        </p>
        <ul class="pl-16">
          <li class="mb-8" *ngIf="availableRefundDetails.firstAmount != 0">
            Refund the full transaction amount of ${{availableRefundDetails?.firstAmount}}.
          </li>
          <li class="mb-8" *ngIf="availableRefundDetails.secondAmount != 0">
            Refund up to ${{availableRefundDetails?.secondAmount}}, which is the total portion that has been processed by the payment gateway.
          </li>
          <li class="mb-8" *ngIf="availableRefundDetails.isThirdStatShow">
            Wait until the funds have been processed by the bank before submitting a refund.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="!availableRefundDetails.isThirdStatShow" class="modal-footer">
    <!-- <button type="button" [class]="availableRefundDetails.balance > 0 ? 'btn btn-light'  : 'btn btn-primary'" (click)="modal.close(null)">Adjust Refund Request</button> -->
    <button type="button" class='btn btn-light'
      (click)="modal.close(null)">Back</button>
    <!-- <button type="button" class="btn btn-primary" (click)="resolvePayment(true)" *ngIf="availableRefundDetails.balance != 0">Proceed to Refund Review</button> -->
    <button type="button" class="btn btn-primary" *ngIf="availableRefundDetails.balance == 0" (click)="proceed='check';resolvePayment(true)">Proceed to Refund Review</button>
    <button type="button" class="btn btn-primary" *ngIf="availableRefundDetails.balance != 0"
      (click)="proceed='add check';resolvePayment(true)">Proceed to Refund Review</button>
  </div>

  <div *ngIf="availableRefundDetails.isThirdStatShow==true && availableRefundDetails.isACHFundsAvailable" class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(null)">OK</button>
  </div>
</ng-template>
