.has-description {
  width: 250px;
}

.datatable-row-detail {
  overflow: visible !important;
}

.name-text {
  padding-left: 3px;
}
.due-date-passed {
  color: #de1002 !important;
}

.w-10 {
  width: 10% !important;
}
