<div class="modal-header pb-32 d-block">
  <h3 class="modal-title mb-0" *ngIf='!creditCard?.id'>Add Credit Card</h3>
  <h3 class="modal-title mb-0" *ngIf='creditCard?.id > 0'>Edit Credit Card</h3>
  <button type="button" class="close" (click)="close()" aria-label="Close" id="close-btn">
    <em class="icon icon-close"></em>
  </button>
</div>
<div class="modal-body pb-24" [formGroup]='creditCardForm'>
  <div class="row gutter-16">
    <div class="col-12">
      <div class="form-group">
        <label class="mb-16">Select personal or company credit card</label>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="isCompany" class="custom-control-input" [value]='false'
            formControlName='isCompany' (change)="personal()">
          <label class="custom-control-label" for="customRadio1">Personal</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="isCompany" class="custom-control-input" [value]='true'
            formControlName='isCompany' (change)="company()">
          <label class="custom-control-label" for="customRadio2">Company</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row gutter-16">
    <ng-container *ngIf='!creditCardForm?.value?.isCompany'>
      <div class="col-6">
        <div class="form-group" [class.has-error]="f['firstName'].errors?.insecure_input || (formSubmitted && f['firstName'].errors?.required)">
          <label>First Name <sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Enter first name on card" formControlName='firstName' id="first-name">
          <span class="field-message text-danger" *ngIf="formSubmitted && f['firstName'].errors?.required">
            <em class="icon icon-error mr-4"></em>
            {{error_data.first_name_error}}
          </span>
          <span class="field-message text-danger" *ngIf="f['firstName'].errors?.insecure_input">
            <em class="icon icon-error mr-4"></em>
            {{error_data.insecure_input}}
          </span>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" [class.has-error]="f['lastName'].errors?.insecure_input || (formSubmitted && f['lastName'].errors?.required)">
          <label>Last Name <sup>*</sup></label>
          <input type="text" class="form-control" placeholder="Enter last name on card" formControlName='lastName' id="last-name">
          <span class="field-message text-danger"*ngIf="formSubmitted && f['lastName'].errors?.required">
            <em class="icon icon-error mr-4"></em>
            {{error_data.last_name_error}}
          </span>
          <span class="field-message text-danger" *ngIf="f['lastName'].errors?.insecure_input">
            <em class="icon icon-error mr-4"></em>
            {{error_data.insecure_input}}
          </span>
        </div>
      </div>
    </ng-container>
    <div class="col-12" *ngIf='creditCardForm?.value?.isCompany'>
      <div class="form-group" [class.has-error]="f['companyName'].errors?.insecure_input || (formSubmitted && f['companyName'].errors?.required)">
        <label>Company Name <sup>*</sup></label>
        <input type="text" class="form-control" placeholder="Enter company name" formControlName='companyName' id="company-name">
        <span class="field-message text-danger" *ngIf="formSubmitted && f['companyName'].errors?.required">
          <em class="icon icon-error mr-4"></em>
            {{error_data.company_name_error}}
        </span>
        <span class="field-message text-danger" *ngIf="f['companyName'].errors?.insecure_input">
          <em class="icon icon-error mr-4"></em>
          {{error_data.insecure_input}}
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group" [class.has-error]="f['cardNumber'].errors?.mask?.requiredMask || (formSubmitted && f['cardNumber'].errors?.required) || f['cardNumber'].errors?.minlength">
        <label>Card Number <sup>*</sup></label>
        <input type="text" class="form-control" minlength="15" maxlength="16"
          placeholder="Enter card number" formControlName='cardNumber' id="card-number">
        <span class="field-message text-danger" *ngIf="formSubmitted && f['cardNumber'].errors?.required">
          <em class="icon icon-error mr-4"></em>
            Please enter card number.
        </span>
        <span class="field-message text-danger" *ngIf="f['cardNumber'].errors?.mask?.requiredMask || f['cardNumber'].errors?.minlength">
          <em class="icon icon-error mr-4"></em>
            {{error_data.card_number_error}}
        </span>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group" [class.has-error]="f['expirationDate'].errors?.mask?.requiredMask || (formSubmitted && f['expirationDate'].errors?.required)">
        <label>Expiration Date <sup>*</sup></label>
        <input type="text" class="form-control" placeholder="mm/yyyy" [dropSpecialCharacters]='false' mask="00/0000"
          formControlName='expirationDate' id="expiration-date">
        <span class="field-message text-danger" *ngIf="formSubmitted && f['expirationDate'].errors?.required">
          <em class="icon icon-error mr-4"></em>
            Please enter expiration date.
        </span>
        <span class="field-message text-danger" *ngIf="f['expirationDate'].errors?.mask?.requiredMask">
          <em class="icon icon-error mr-4"></em>
            {{error_data.expiry_date_error}}
        </span>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group" [class.has-error]="f['CVV'].errors?.mask?.requiredMask || (formSubmitted && f['CVV'].errors?.required)">
        <label>CVV <sup>*</sup></label>
        <input type="text" class="form-control" mask="000" placeholder="Enter CVV" formControlName='CVV' id="cvv">
        <span class="field-message text-danger" *ngIf="formSubmitted && f['CVV'].errors?.required">
          <em class="icon icon-error mr-4"></em>
          Please enter CVV.
        </span>
        <span class="field-message text-danger" *ngIf="f['CVV'].errors?.mask?.requiredMask">
          <em class="icon icon-error mr-4"></em>
          {{error_data.CVV_error}}
        </span>
      </div>
    </div>

  </div>
  <h4 class="text-xlarge mt-0 mb-16">Billing Information</h4>
  <div class="custom-control custom-checkbox mb-12">
    <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName='isSameAsPrimary' (change)="sameAsPrimary()">
    <label class="custom-control-label text-transform-none" for="customCheck1">Same as Primary Address</label>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group" [class.has-error]="f['address'].errors?.insecure_input || (formSubmitted && f['address'].errors?.required)">
        <label>Street Address <sup>*</sup></label>
        <input type="text" class="form-control" maxlength="39" placeholder="Enter street address" formControlName='address' id="address-one" [readOnly]="this.creditCardForm.value.isSameAsPrimary">
        <span class="field-message text-danger" *ngIf="formSubmitted && f['address'].errors?.required">
          <em class="icon icon-error mr-4"></em>
          {{error_data.street_address_error}}
        </span>
        <span class="field-message text-danger" *ngIf="f['address'].errors?.insecure_input">
          <em class="icon icon-error mr-4"></em>
          {{error_data.insecure_input}}
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group" [class.has-error]="formSubmitted && f['address2'].errors">
        <label>Apt, Suite, Unit</label>
        <input type="text" class="form-control" placeholder="Enter apartment, suite, or unit number"
          formControlName='address2' id="address-two" [readOnly]="this.creditCardForm.value.isSameAsPrimary" maxlength="39">
        <span class="field-message text-danger">
          <em class="icon icon-error mr-4"></em>
          {{error_data.insecure_input}}
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="row gutter-16">
        <div class="col-4">
          <div class="form-group" [class.has-error]="(f['zipCode'].errors?.mask?.requiredMask || (formSubmitted && f['zipCode'].errors?.required)) || (formSubmitted && validZipErr) && !this.creditCardForm.value.isSameAsPrimary">
            <label>ZIP Code <sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter zip code"
              minlength="3"
              maxlength="6"
              formControlName='zipCode'
              (keypress)="checkNumber($event)"
              (keyup)="getCityState($event.target.value)"
              [readOnly]="this.creditCardForm.value.isSameAsPrimary"
              id="zip-code">
            <span class="field-message text-danger" *ngIf="(formSubmitted && f['zipCode'].errors?.required) && !validZipErr && !this.creditCardForm.value.isSameAsPrimary">
              <em class="icon icon-error mr-4"></em>
              {{error_data?.zip_code_required}}
            </span>
            <span class="field-message text-danger" *ngIf="formSubmitted && validZipErr && !this.creditCardForm.value.isSameAsPrimary">
              <em class="icon icon-error mr-4"></em>
              {{error_data?.zip_code_error}}
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label>State <sup>*</sup></label>
            <ng-select *ngIf="stateList?.length > 1"
              [items]="stateList"
              placeholder="State"
              formControlName='state'
              [bindValue]="'code'"
              [bindLabel]="'name'"
              [clearable]="false"
              [notFoundText]="'No record found'"
              [selectOnTab]="true" id="state">
            </ng-select>
            <input *ngIf="stateList?.length <= 1"
              type="text"
              class="form-control"
              placeholder="State"
              [(ngModel)]="singleState"
              [ngModelOptions]="{standalone: true}"
              [readOnly]='true' id="state">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label>City <sup>*</sup></label>
        <ng-select *ngIf="cityList?.length > 1"
          [items]="cityList"
          placeholder="City"
          formControlName="city"
          [clearable]="false"
          [notFoundText]="'No record found'"
          [selectOnTab]="true" id="city">
        </ng-select>
        <input *ngIf="cityList?.length <= 1"
          type="text"
          class="form-control"
          placeholder="City"
          formControlName='city'
          [readOnly]='true'
          id="city">
      </div>
    </div>
  </div>
  <div *ngIf="!isPotentialClient">
    <h4 class="text-xlarge mt-0 mb-8">Auto-Pay</h4>
    <!-- *ngIf="creditCardForm.value.autoPay"  -->
    <p class="lh-20 mb-12">The matter’s full balance due will be charged to this payment method whenever an invoice’s due date arrives. Be sure to also file a signed Auto-Pay Agreement to the Document Management System.</p>
    <div class="custom-control custom-checkbox mb-24">
      <input type="checkbox" class="custom-control-input" id="customCheck2" formControlName="autoPay" change="autoPay()">
      <label class="custom-control-label" for="customCheck2">Activate Auto-Pay</label>
    </div>
    <div class="form-group mb-0" *ngIf="notCreateFrom && clientId" [class.has-error]="formSubmitted && !autoPaySelectionsValid">
      <label>Apply to Matters <sup>*</sup></label>
      <app-multiselect-dropdown [title]="autoPayMattersTitle" [placeholder]="'Search matters'" [clientDropdown]="true"
                                [selections]="selectedMatters" [displaySubItem]="mattersList" [filterName]="'Apply Selections'"
                                [showAll]="autoPayDisabled ? false : true" [selectedMessage]="'matters will auto-pay using this credit card'"
                                (onSelectionChanged)="getMattersSelected($event)"
                                (onMultiSelectSelectedOptions)="onMultiSelectSelectedOptions($event)" (clearFilter)="clrMatters()"
                                (applyFilter)="applyMatterFilter($event)" [isDisabled]="autoPayDisabled" id="selectedMattersId">
      </app-multiselect-dropdown>
      <span class="field-message text-danger" *ngIf="formSubmitted && !autoPaySelectionsValid">
      <em class="icon icon-error mr-4"></em>
        {{error_data.select_matter_auto_pay}}
    </span>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()" id="cancel-btn">Cancel</button>
  <button type="button" class="btn btn-primary" (click)='save()' id="save-btn">Save</button>
</div>
