<div class="container">
  <div class="main-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [routerLink]="['/dashboard']">
        <a href="javascript:void(0)">Dashboard</a>
      </li>
      <li class="breadcrumb-item" [routerLink]="['/client-view/individual']"
        [queryParams]="{clientId: clientDetails?.id}">
        <a href="javascript:void(0)">
          <ng-container *ngIf='clientDetails'>
            <span *ngIf='clientDetails?.isCompany'>
              {{clientDetails?.companyName}}
            </span>
            <span *ngIf='!clientDetails?.isCompany'>
              {{clientDetails?.firstName}} {{clientDetails?.lastName}}
            </span>
          </ng-container>
        </a>
      </li>
      <li class="breadcrumb-item active">New Matter </li>
    </ol>
    <div class="heading">
      <h1>New Matter</h1>
    </div>
    <div class="card">
      <div class="card-body p-0">
        <div class="scrolling-step-height" [ngStyle]="{'height':fixedHeight+'px'}"></div>
        <div class="scrolling-steps" [class.fixed-top]="fixedTop"
          [ngStyle]="{'top':topbarHeightst+'px','right':fixedRight+'px','left':fixedLeft+'px'}">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h4 class="text-xlarge mb-4">Create a New Matter</h4>
              <p class="small lh-20 m-0">A conflict check will be run automatically in order to complete the process.
              </p>
              <div class="d-flex">
                <p class="small lh-20 m-0"><sup class="text-danger small">*</sup> Section contains required fields.</p>
                <p class="font-weight-medium text-danger small lh-20 ml-8" *ngIf="formSubmitted">
                  <span *ngIf="isFormNotValid">
                    Please enter all required information to
                    proceed.
                  </span>
                </p>
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-light" type="button" [routerLink]="['/client-list/list']"
                [disabled]="isLoading">Cancel</button>
              <button class="btn btn-outline-primary" type="button" (click)="runConflictsCheck(NewMatterCreated)"
                [disabled]="isLoading">Run Conflict Check</button>
              <button class="btn btn-primary" type="button" (click)="save(NewMatterCreated)" [disabled]="isLoading">Save
                New Matter</button>
            </div>
          </div>
          <ul class="list-unstyled scroll-step-menu d-flex mb-0">
            <li
              [class.has-error]="formSubmitted && matterDetailsComponent && isNotMatterDetailsValidate">
              <a href="javascript:void(0)" [class.current]="activeTab === 'matterDetailsInfo'"
                (click)="scrollToElement('matterDetailsInfo')">
                <em class="icon icon-info"></em>
                <span>Matter Details <sup class="text-danger">*</sup></span>
              </a>
            </li>
            <li
              [class.has-error]="formSubmitted && billingInformationComponent && isNotValidBillingInformation">
              <a href="javascript:void(0)" [class.current]="activeTab === 'billingInformation'"
                (click)="scrollToElement('billingInformation')">
                <em class="icon icon-billing"></em>
                <span>Billing Information <sup class="text-danger">*</sup></span>
              </a>
            </li>
            <li *ngIf="isTrustAccountEnabled"
              [class.has-error]="formSubmitted && trustBankAccountsComponent && !returnTrustBankAccountData">
              <a href="javascript:void(0)" [class.current]="activeTab === 'trustAccounting'"
                (click)="scrollToElement('trustAccounting')">
                <em class="icon icon-trust-accounting"></em>
                <span>Trust Accounting <sup class="text-danger">*</sup></span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" [class.current]="activeTab === 'createCalendarEvents'"
                (click)="scrollToElement('createCalendarEvents')">
                <em class="icon icon-calendar"></em>
                <span>Create Calendar Events</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" [class.current]="activeTab === 'uploadDocuments'"
                (click)="scrollToElement('uploadDocuments')">
                <em class="icon icon-documents"></em>
                <span>Upload Documents</span>
              </a>
            </li>
            <li [class.disabled]="!matterBasic">
              <a href="javascript:void(0)" [class.current]="activeTab === 'addNotes'"
                (click)="scrollToElement('addNotes')">
                <em class="icon icon-template"></em>
                <span>Add Notes</span>
              </a>
            </li>
          </ul>
        </div>
        <app-loader [active]="isLoading"></app-loader>
        <div class="npc-body">
          <app-matter-details #matterDetailsInfo
            [clientId]="clientId"
            (sendDataAssociation)="getDataAssociation($event)"
            [clientDetails]="clientDetails"
            [formSubmitted]="formSubmitted"
            [pageType]= "'matter'"
            (sendData)="getMatterDetails($event, changeJurisdictionMatter)"
            (changesMade)="changesMade($event)"
            (prevMatterTypeId)="getMatterTypeId($event)">
          </app-matter-details>

          <app-billing-information #billingInformation [clientId]="clientId" [officeId]="officeId"
            [pageType]="'creatematter'" [formSubmitted]="formSubmitted">
          </app-billing-information>
          <div #trustAccounting *ngIf="isTrustAccountEnabled">
            <h2 class="mb-24">Trust Account Settings</h2>
            <app-trust-bank-accounts [officeId]="officeId" *ngIf="officeId"  [isFormSubmitted]="formSubmitted"></app-trust-bank-accounts>
            <app-trust-account  [clientId]="clientId" [officeId]="officeId"
            [BILLING_MANAGEMENTisEdit]="BILLING_MANAGEMENTisEdit" [BILLING_MANAGEMENTisAdmin]="BILLING_MANAGEMENTisAdmin"
            [matterId]="matterId">
            </app-trust-account>
          </div>

          <app-create-calendar-event-new #createCalendarEvents [clientDetails]="clientDetails">
          </app-create-calendar-event-new>
          <app-upload-document-new #uploadDocuments [pageType]="'matter'" [clientId]="clientId" [matterDetails]="documentsMatterDetails">
          </app-upload-document-new>
          <app-add-notes #addNotes *ngIf="matterBasic"
            (changesMade)="changesMade($event)"
            [pageType]="'creatematter'">
          </app-add-notes>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-none" *ngIf='saveMatterInfo && saveMatterInfo?.invoiceDetails && invoiceTemplateDetails'>
  <app-invoice-extended-pdf [invoicedata]='saveMatterInfo?.invoiceDetails?.invoice'
    [invoiceTemplateDetails]='invoiceTemplateDetails'
    [matterBillingSettings]='saveMatterInfo?.invoiceDetails?.matterBillingSettings' [tenantDetails]='tenantDetails'
    [loggedinuserId]='loginUser?.id' [default_logo_url]='defaultLogoUrl' (invoiceHTMLDetails)='saveInvoice($event)'>
  </app-invoice-extended-pdf>
</div>

<ng-template #NewMatterCreated let-modal>
  <div class="modal-header d-block pb-24">
    <h3 class="modal-title mb-0">New Matter Created</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-success d-flex justify-content-between mb-24" role="alert">
      <div class="d-flex">
        <em class="alert-icon icon icon-check-circle text-large"></em>
        <div class="d-flex align-items-center flex-wrap">
          <h5 class="mr-16 mt-0 mb-0">Success</h5>
          A new matter has been created.
        </div>
      </div>
    </div>
    <p class="lh-20 m-0">Would you like to view this matter’s dashboard or go back to the client’s profile?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" [routerLink]="['/client-view/individual']"
      [queryParams]="{clientId: clientDetails?.id}" (click)="modal.dismiss('Cross click'); rerouteAfterSaving()">Go Back to Client
      Profile</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/matter/dashboard']"
      [queryParams]="{matterId: matterId}" (click)="modal.dismiss('Cross click'); rerouteAfterSaving()">Go to Matter Dashboard</button>
  </div>
</ng-template>

<ng-template #changeJurisdictionMatter let-modal>
  <div class="modal-body pb-0">
    <div class="d-flex align-items-start pt-8">
      <em class="icon icon-error text-danger fs-32"></em>
      <div class="pl-16">
        <h3 class="modal-title mb-20">Change Practice Area</h3>
        <p class="lh-20">Changing the practice area will remove any documents you have uploaded for this new matter. Are you sure you want to continue?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss('Save click'); updatePracticeArea('keep')">Cancel</button>
    <button type="button" class="btn btn-primary"
      (click)="modal.dismiss('Cross click');updatePracticeArea('remove')">Yes, Continue</button>
  </div>
</ng-template>
