<div *ngIf="!passwordFlag" class="d-flex justify-content-between align-items-center pwd-strength">
  <span>Strength</span>
  <em class=""><i></i> </em>
</div>
<div *ngIf="passwordFlag && password.length <= 9"
  class="d-flex justify-content-between align-items-center pwd-strength">
  <em class="str-weak"><i></i></em>
  <span>Weak</span>
</div>
<div *ngIf="passwordFlag && password.length <= 11 && password.length >= 10"
  class="d-flex justify-content-between align-items-center pwd-strength">
  <em class="str-good"><i></i></em>
  <span>Good</span>
</div>
<div *ngIf="passwordFlag && password.length >= 12"
  class="d-flex justify-content-between align-items-center pwd-strength">
  <em class="str-strong"><i></i></em>
  <span>Strong</span>
</div>
<div class="strength-check mt-16">
  <p>
    <em class="icon" [ngClass]="passValidArr.chrLength ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> 8 or more characters</p>
  <p>
    <em class="icon" [ngClass]="passValidArr.oneCapital ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em>At least 1 capital letter
  </p>
  <p>
    <em class="icon" [ngClass]="passValidArr.oneNumber ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> At least 1 number
  </p>
  <p>
    <em class="icon" [ngClass]="passValidArr.oneSpecial ? 'icon-success icon-check-circle' : 'icon-gray icon-close-fill'"></em> At least 1 special character (!, @, #, $, %, ^, &, *)
  </p>
</div>