<div class="card-body" [ngClass]="{'bill-open':consulationFeesToggle}">
  <!-- " bill-open " for open detail -->
  <div class="bd-header">
    <div class="d-flex align-items-start justify-content-between bill-title">
      <h3 class="fs-22 m-0">Consultation Fees</h3>
      <div class="d-flex">
        <div class="btn-group">
          <button type="button" *ngIf="isAdmin" (click)="addConsulation('add', null, $event)" class="btn btn-primary">
            Record Consultation
           </button>
        </div>
        <span class="cursor-pointer bil-arrow" (click)="toggleBodyView()"><em class="icon icon-angle-down"></em></span>
      </div>
    </div>
    <div class="row gutter-16">
      <div class="col-6">
        <div class="row gutter-16">
          <div class="col-6">
            <div class="form-group mb-0">
              <ng-select [items]="consulationFeesStatusList" [selectOnTab]="true" placeholder="Select status"
                [(ngModel)]="selectedconsulationFeeStatus" [clearable]="false" id="acttq-selectstatus"
                [bindValue]="'id'" [bindLabel]="'name'" [notFoundText]="'No record found'"
                (change)="applyFilterForList()">
              </ng-select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mb-0">
              <app-date-range-picker (dateChange)='choosedDate($event)' appAutoCloseOutsideClick
                [(lifeofMatter)]="lifeOfMatterFees" [placeholderText]="placeholdertext" (outsideClick)="onClickedOutsideDatePicker()">
              </app-date-range-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="d-flex align-items-end">
          <span class="helper-text">Total</span>
          <span class="fs-22 font-weight-medium ml-8" [class.text-danger]='consulationFeesTotal < 0'>
            {{consulationFeesTotal| currency : 'USD' : 'symbol': '1.2-2'}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="bd-body d-block" *ngIf="consulationFeesToggle">
    <div class="row gutter-16">
      <div class="col-9">
        <div class="header-search-wrapper mb-24">
          <input type="text" class="form-control search-input"
            placeholder="Search by code, name, entered by, note to file" (keyup)="applyFilterForList()"
            [(ngModel)]="consulationFeeSearchString" [ngModelOptions]="{standalone: true}">
          <button class="btn" type="submit">Search</button>
        </div>
      </div>
    </div>
    <div class="custom-table bg-white mx-n24">
      <ngx-datatable #table class="material common-table no-min-height consult-fee-table disburst-new-table prbill-tables" [rows]="consulationFeeList"
        [columnMode]="ColumnMode.force" [offset]="page.pageNumber" [limit]="page.size" [footerHeight]="footerHeight"
        [headerHeight]="50" rowHeight="auto" [scrollbarH]='true' [summaryHeight]="50" [summaryRow]='true'
        [summaryPosition]="'bottom'" [selectionType]="'checkbox'"
        [sorts]="[{prop: 'consultationFeeList.dateOfService', dir: 'desc'}]" id="feeslist-tbl">

        <ngx-datatable-row-detail rowHeight="auto" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" ngx-datatable-row-detail-template>

            <div class="pl-48">
              <div class="static-tab-group">
                <ul class="static-tabs list-unstyled d-flex align-items-center mb-0">
                  <li class="pl-0" (click)="row.writeDownDetailListFlag  = false"
                    [ngClass]="!row.writeDownDetailListFlag   ? 'active': ''">
                    <a href="javascript:void(0);">
                      Entry Details
                    </a>
                  </li>
                  <li (click)="row.writeDownDetailListFlag = true"
                    [ngClass]="row.writeDownDetailListFlag  ? 'active': ''"
                    *ngIf='row?.writeDownDetailList.length > 0 && row.consultationFeeList.originalAmount >= 0'>
                    <a href="javascript:void(0);">
                      Write-Down
                    </a>
                  </li>
                </ul>
                <div class="static-tab-content" *ngIf="!row.writeDownDetailListFlag ">
                  <div class="static-tab">
                    <div class="table-responsive">
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th style="width: 30%;">Date/Time Entered</th>
                            <th style="width: 20%;">Entered By</th>
                            <th style="width: 20%;">Note To File</th>
                            <th style="min-width: 200px;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container>
                            <tr>
                              <td>{{row?.consultationFeeList?.timeEntered | date: 'MM/dd/yyyy, h:mm a'}}</td>
                              <td>{{row?.consultationFeeList?.enterBy}}</td>
                              <td>
                                <app-read-more [text]='row?.consultationFeeList?.note' [maxLines]='2'></app-read-more>
                              </td>
                              <td></td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="static-tab-content" *ngIf="row.writeDownDetailListFlag">
                  <div class="static-tab">
                    <div class="table-responsive">
                      <table class="table table-striped table-borderless">
                        <thead>
                          <tr>
                            <th style="width: 20%">Write Down Date/Time</th>
                            <th style="width: 10%;">Code</th>
                            <th style="width: 30%;">Name</th>
                            <th style="width: 15%;">Write Down Amount</th>
                            <th style="width: 15%;">Original Amount</th>
                            <th class="text-right" style="width: 10%;" *ngIf='isAdmin || isWriteDownAdmin'>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="row.writeDownDetailList.length > 0">
                            <tr *ngFor="let detsils of row.writeDownDetailList; trackBy :trackByFn;let i=index"
                              id="write-down-index-{{i}}">
                              <td>{{detsils.writeDownDateTime | date: 'MM/dd/yy, h:mm a'}}</td>

                              <td>{{detsils?.code}}</td>
                              <td>{{detsils?.name}}</td>
                              <td class="text-danger">
                                -{{detsils.writeDownAmount | currency : 'USD': 'symbol': '1.2-2'}}
                              </td>
                              <td>{{detsils.originalAmount | currency : 'USD': 'symbol': '1.2-2'}}</td>
                              <td class="text-right" *ngIf='isAdmin || isWriteDownAdmin'>
                                <div class="d-flex justify-content-end">
                                  <div class="dropdown dropdown-hover-table" [class.active]="currentActiveDetls == i"
                                    (click)="openMenudetls(i, $event)" appAutoCloseOutsideClick
                                    (outsideClick)="onClickedOutsidedetls($event, i)">
                                    <span class="icon-area">
                                      <em class="icon icon-dot-verti"></em>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="javascript:void(0)"
                                        (click)="witeDown(row, 'view', detsils)" id="view-write-down-index-{{i}}">
                                        View Write-Down
                                      </a>
                                      <a *ngIf="isWriteDownAdmin"
                                        class="dropdown-item" href="javascript:void(0)"
                                        (click)="witeDown(row, 'edit', detsils)" id="edit-write-down-index-{{i}}">
                                        Edit Write-Down
                                      </a>
                                      <a *ngIf="isWriteDownAdmin"
                                        class="dropdown-item" href="javascript:void(0)"
                                        (click)="removeWriteDown(detsils)" id="delete-write-down-index-{{i}}">
                                        Delete Write-Down
                                      </a>

                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.dateOfService" name="Date of Service"
          [width]="180">
          <ng-template let-row="row" let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <span class="payment-plan-table-arrow cursor-pointer" (click)="toggleExpandRow(row)">
                <em [ngClass]="!expanded?'icon icon-angle-down':'icon icon-angle-up'"></em>
              </span>
              <span>{{value | date : 'MM/dd/yyyy'}}</span>
            </div>
          </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.code" name="Code" [width]="120">
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.name" name=" Code Name" [width]="180">
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.duration" name="Duration" [width]="120">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span [class.text-danger]='row.consultationFeeList?.isNegetive'>
              <span *ngIf='row.consultationFeeList?.isNegetive'>-</span><span>{{row.consultationFeeList | timeFormatter}}</span>
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.displayAmount" name="Amount" [width]="200">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="d-flex align-items-center">
              <span [class.text-danger]='row.consultationFeeList?.isNegetive || row.consultationFeeList?.displayAmount < 0'> {{(value || 0) | currency : 'USD': 'symbol': '1.2-2'}} </span>
              <div class="info-hover position-relative ml-12" *ngIf="row.consultationFeeList.writeDownAmount > 0">
                <img src="assets/images/bullet-list.svg">
                <div class="tooltip bs-tooltip-top left" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">
                    <div class="d-flex pb-4 align-items-center justify-content-between">
                      <span class="font-weight-medium small">Originial Amount</span>
                      <span class="lh-20">{{row.consultationFeeList.originalAmount | currency : 'USD': 'symbol':
                        '1.2-2'}}</span>
                    </div>
                    <div class="d-flex pb-4 align-items-center justify-content-between">
                      <span class="font-weight-medium small">Write-Down</span>
                      <span class="lh-20">
                        {{(row.consultationFeeList.displayAmount - row.consultationFeeList.originalAmount) | currency :
                        'USD': 'symbol': '1.2-2'}}
                      </span>
                    </div>
                    <div class="d-flex pt-8 align-items-center border-top-white justify-content-between">
                      <span class="font-weight-medium small">To Be Billed</span>
                      <span class="lh-20">{{row.consultationFeeList.displayAmount | currency : 'USD': 'symbol':
                        '1.2-2'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" prop="consultationFeeList.status" name="Status" [width]="200">
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false" [sortable]="false" [headerClass]="'text-center pr-2'" name="Action"
          [width]="100" [frozenRight]="true" *ngIf='isAdmin'>
          <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <!-- <div class="dropdown dropdown-hover-table d-flex justify-content-end"
              [class.active]="currentActive ==  rowIndex" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin">
              <span class="icon-area" (click)="openMenu(rowIndex, $event)">
                <em class="icon icon-dot-verti"></em>
              </span>
              <div class="dropdown-menu dropdown-menu-right z-index-99" aria-labelledby="dropdownMenuButton"
                appAutoCloseOutsideClick (outsideClick)="onClickedOutside()">
                <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isWriteDownAdmin"
                  (click)="witeDown(row, 'add', null)">Write-Down Consultation Fee</a>
                <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin"
                  (click)="addConsulation('edit',row, $event)">Edit Consultation Fee</a>
                <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin"
                  (click)="openModal(row,DeleteConfirmation)">Delete Consultation Fee</a>
              </div>
            </div> -->
            <div ngbDropdown container="body" class="d-flex justify-content-end" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin">
              <!-- set button for icon if needed -->
              <div class="dropdown-hover-table pr-0" ngbDropdownToggle>
                <span class="icon-area">
                  <em class="icon icon-dot-verti"></em>
                </span>
              </div>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right overflow-hide custom-height">
                <div class="dropdown-slimscrol">
                  <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isWriteDownAdmin"
                  (click)="witeDown(row, 'add', null)">Write-Down Consultation Fee</a>
                <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin"
                  (click)="addConsulation('edit',row, $event)">Edit Consultation Fee</a>
                <a class="dropdown-item" *ngIf="row.consultationFeeList.status == 'Recorded' && isAdmin"
                  (click)="openModal(row,DeleteConfirmation)">Delete Consultation Fee</a>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
            <div class="d-flex justify-content-between flex-fill">
              <div class="d-flex align-items-center">
                <div class="table-items d-flex align-items-center mr-36">
                  Items per page:
                  <div class=" ml-8">
                    <select class="custom-select border-less" [formControl]="pageSelector" (change)="changePageSize()">
                      <option *ngFor="let limit of limitArray; trackBy: trackByFn" [value]="limit">{{ limit }}</option>
                    </select>
                  </div>
                </div>
                <span>
                  {{(rowCount > 0 ? ((offset * pageSize) + 1) : 0)}} -
                  {{(rowCount > (curPage * pageSize)) ? (curPage * pageSize) : (rowCount)}} of {{(rowCount)}}
                  item(s)
                </span>
              </div>

              <div class="d-flex align-items-center">
                <select class="custom-select border-less" [(ngModel)]="pageSelected" (change)="changePage()">
                  <option *ngFor='let num of page.totalPages | counterPipe; trackBy: trackByFn ;let i= index'
                    [value]="i+1">Page
                    {{ i + 1 }} of {{page.totalPages}}</option>
                </select>
                <div class="ml-8">
                  <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left icon icon-angle-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right icon icon-angle-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                    [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="table.onFooterPage($event);pageChange($event)">
                  </datatable-pager>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>

      </ngx-datatable>
    </div>
  </div>
  <app-loader [active]="consulationFeesLoading"></app-loader>
</div>
<ng-template #DeleteConfirmation let-modal="modal">
  <div class="modal-header pb-24">
    <h3 class="modal-title mb-0">Delete Consultation Fee</h3>
    <button type="button" class="close" (click)="closeModal()" id="acttq-ttab-close-btn" aria-label="Close">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex align-items-start missing-data">
      <em class="icon icon-warning text-warning"></em>
      <div class="lh-20 ml-16">
        <p class="m-0"> Are you sure you want to delete this consultation fee from this potential client's record?
        </p>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeModal()" id="acttq-ttab-cancel-btn">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="deleteConsultation(); "
      id="acttq-ttab-yaprvm-btn">Delete</button>
  </div>
</ng-template>
