<div class="access-denied d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-body text-center">
      <div>
        <span class="access-circle d-inline-block mb-32">
          <em class="icon icon-private"></em>
        </span>
      </div>
      <h2 class="mb-24">Access Denied</h2>
      <p>You do not have permission to access this page. Contact an administrator to get permission or go to the
        dashboard and browse other pages.</p>
      <button class="btn btn-primary" type="button" (click)="goToDashboard()">Go To Dashboard</button>
    </div>
  </div>
</div>