
.icon-plus {
  vertical-align: middle
}

.menu-icon {
  margin-right: 0 !important;
}

.menu-btn {
  padding: 8px 13px;
}

.dropdown-menu {
  margin-top: 4px;
}

.defaultLogo {
  width: 200px;
}

.defaultFavicon {
  width: 32px;
}

.errorUploadFiles {
  display: inline-flex;
  padding-right: 16px;
}

.dragDrop {
  font-size: 14px;
  padding-top: 4px;
}

.displayImage {
  padding: 24px 0;
}

.displayImageFav {
  padding: 36px 0;
}

.logo-box {
  position: relative;
}

.uploadSection {
  position: absolute;
  text-align: center;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.uploadedImage {
  margin-bottom: 35px;
}