<div class="container">
    <div class="main-content">
        <div class="heading">
            <h1>Bank Account Authorization</h1>
          </div>
          <div class="card">
              <div class="card-body">
                    <h3 class="mb-8">Owner Information</h3>
                    <p>Enter your personal information to validate your firm’s request to connect a bank account to Lexicon. </p>
                    <div class="row gutter-16">
                        <div class="col-4">
                            <div class="form-group">
                                <label>First Name <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Enter first name">
                                <span class="field-message pt-12 d-block">
                                    <em class="icon icon-info text-primary mr-4"></em>
                                    Please enter your legal name to prevent delays in processing.
                                </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Last Name <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Enter last name">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Title <sup>*</sup></label>
                                <select class="custom-select form-control">
                                    <option>Select job title</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Phone Number <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Date of Birth <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="mm/dd/yyyy">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Last 4 of SSN <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Enter last 4 digits of SSN">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label>Ownership Percentage <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="Enter ownership percentage">
                            </div>
                        </div>
                    </div>
                    <div class="row gutter-16 pt-8">
                        <div class="col-4">
                            <div class="row gutter-16">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Personal Street Address <sup>*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter your personal address">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Apt, Suite, Unit <sup>*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter apartment, suite, or unit number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>City <sup>*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter city">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>State <sup>*</sup></label>
                                        <select class="custom-select form-control">
                                            <option>Select state</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Zip Code <sup>*</sup></label>
                                        <input type="text" class="form-control" placeholder="Enter zip code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="TT-1">
                        <label class="custom-control-label" for="TT-1">By completing this form, I certify that I am of significant corporate control at my firm or are an authorized signatory.</label>
                    </div>
              </div>
          </div>
          <div class="d-flex justify-content-end pb-24">
              <button type="button" class="btn btn-primary">Submit</button>
          </div>
    </div>
</div>