.queue-transfer-table{
    .subdata{
        padding-left: 0 !important;
    }
    .space{
        width: 64px !important;
    }
    .source{
        width: 300px !important;
    }
    .target{
        width: 300px !important;
    }
}