
  .search-result-box {
    .search-result {
      max-height: 405px;
    }
  }

  .date-picker {
    .btn {
      padding: 9px 12px;
    }
  }

  .date-field {
    .icon-close {
      right: 45px;
      font-size: 12px;
      top: 15px;
    }
  }

  // .ngx-datatable.scroll-vertical {
  //   height: 600px;
  // }

  // .ngx-datatable .datatable-body {
  //   height: 485px !important;
  // }

  // .ngx-datatable.fixed-row
  //   .datatable-scroll
  //   .datatable-body-row
  //   .datatable-body-cell,
  // .ngx-datatable.fixed-row
  //   .datatable-scroll
  //   .datatable-body-row
  //   .datatable-body-group-cell {
  //   overflow: visible;
  // }

  // .datatable-row-right {
  //   &.datatable-row-group {
  //     right: -21px !important;
  //   }
  // }


// .action-btns{
//   margin-top: 10px;
// }
