<div class="container">
  <div class="main-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item" *ngIf="type == 'matter'"><a href="javascript:void(0)"  [routerLink]="['/matter/list']">Matters</a></li>
      <li class="breadcrumb-item" *ngIf="type != 'matter'"><a href="javascript:void(0)"  [routerLink]="['/contact/potential-client']">Contacts</a></li>
      <li class="breadcrumb-item" *ngIf="type == 'matter'" title="{{postPaymentName }} - {{matterDetails?.matterNumber}}">
        <a href="javascript:void(0)" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId: matterId}">
          {{matterDetails?.matterName?.length > 35 ? matterDetails?.matterName?.slice(0, 35) + '...' : matterDetails?.matterName}}
          - {{matterDetails?.matterNumber}}</a>
      </li>
      <li class="breadcrumb-item" *ngIf="type != 'matter'" title="{{postPaymentName }}">
        <a href="javascript:void(0)" [routerLink]="['/contact/view-potential-client']" [queryParams]="{clientId: clientId, state:'edit'}">
          Contact Profile - {{postPaymentName?.length > 35 ? postPaymentName?.slice(0, 35) + '...' : postPaymentName}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Post Payment</li>
    </ol>
    <div class="heading">
      <h1>Post Payment - {{postPaymentName}}</h1>
    </div>
    <ng-container *ngIf="step === 'postpayment'">
      <div class="card">
        <div class="card-body">
          <h3>Post Payment</h3>
          <div class="row">
            <div class="col-4">
              <div class="form-group" [ngClass]="{'has-error': dateErrMsg}">
                <label for="">Date of Payment <sup>*</sup></label>
                <app-date-picker [isNgModel]='true' [dateTimeFilter]='dateOfPaymentFilter' placeholderText="Select a payment date" [(data)]='paymentDate'
                  (dataChange)='applyFilter()' id="payment-date"></app-date-picker>
                <span class="field-message text-danger" *ngIf="dateErrMsg">
                  <em class="icon icon-error mr-4"></em>
                  {{ dateErrMsg }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="mb-12">Amount to Pay</label>
            <div class="custom-control custom-radio pr-0">
              <input type="radio" id="amounttoPayRequestAmount1" name="RequestAmount" [(ngModel)]="requestRemainingAmount"
                [value]="true" (change)="changeRequestRemaining($event)" class="custom-control-input" [disabled]="disableRemaning">
              <label class="custom-control-label" for="amounttoPayRequestAmount1">Request Remaining Amount
                ({{remainingAmount | currency : 'USD': 'symbol': '1.2-2'}})</label>
            </div>
            <div class="custom-control custom-radio pr-0">
              <input type="radio" id="amounttoPayRequestAmount2" name="RequestAmount" [(ngModel)]="requestRemainingAmount"
                [value]="false" (change)="changeRequestRemaining($event)" class="custom-control-input" checked>
              <label class="custom-control-label" for="amounttoPayRequestAmount2">Other Amount</label>
            </div>
          </div>
          <div class="row pb-24">
            <div class="col-4">
              <div class="form-group" [ngClass]="{'has-error': amountErrMsg && !requestRemainingAmount && formSubmitted}">
                <input type="text" class="form-control" [(ngModel)]="amountToPay" prefix="$" mask="separator.2"
                  (keyup)="validateAmount()" onclick="this.select();" (focusout)="formatAmount()" thousandSeparator=","
                  [disabled]="requestRemainingAmount" placeholder="Enter Amount" id="custom-amount-input">
                <span class="field-message text-danger" *ngIf="amountErrMsg && !requestRemainingAmount">
                  <em class="icon icon-error mr-4"></em>
                  {{ amountErrMsg }}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="mb-12">Payment Method</label>
            <div class="custom-control custom-radio pr-0 d-flex align-items-center" *ngFor="let paymentType of paymentMethodTypesList; trackBy :trackByFn;let i=index;">
              <input
                type="radio"
                id="PayMethod1_{{i}}"
                name="PayMethod"
                [(ngModel)]="paymentMethod"
                [value]="paymentType.code"
                (change)="selectPaymentMethod($event)"
                class="custom-control-input"
                [disabled]="(((!selectedOperatingAccount?.isMerchantAccount
                && (paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK'))
                || (accountType?.isMerchantAccount && paymentType?.code == 'CREDIT_CARD' && !selectedOperatingAccount?.isCreditCardAccount)
                || (accountType?.isMerchantAccount && paymentType?.code == 'E-CHECK' && !selectedOperatingAccount?.isAchAccount)) && selectedOperatingAccount)
                || ((paymentType?.code == 'E-CHECK') && (!isAchDisabled)) || ((paymentType?.code == 'CREDIT_CARD') && (!isCreditCardDisabled))">
              <label class="custom-control-label" for="PayMethod1_{{i}}">{{paymentType.name}}</label>

              <div class="info-hover position-relative ml-8"
                *ngIf="(((!selectedOperatingAccount?.isMerchantAccount
                && (paymentType?.code == 'CREDIT_CARD' || paymentType?.code == 'E-CHECK'))
                || (selectedOperatingAccount?.isMerchantAccount && paymentType?.code == 'CREDIT_CARD' && !selectedOperatingAccount?.isCreditCardAccount)
                || (selectedOperatingAccount?.isMerchantAccount && paymentType?.code == 'E-CHECK' && !selectedOperatingAccount?.isAchAccount)) && selectedOperatingAccount)
                || ((paymentType?.code == 'E-CHECK') && (!isAchDisabled)) || ((paymentType?.code == 'CREDIT_CARD') && (!isCreditCardDisabled))">
                <em class="icon icon-info icon-color text-large"></em>
                <div class="tooltip bs-tooltip-top center" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">
                    <p class="m-0">No accounts are set up to process this payment type for this office.</p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="sameDayACHStatus && this.paymentMethod == 'E-CHECK' && this.selectedPaymentMethod['name'] === 'E-Check' && (!this.selectedOperatingAccount || (this.selectedOperatingAccount && this.selectedOperatingAccount['isMerchantAccount']))" class="row gutter-16">
              <div class="col-9">
                <div class="pl-32">
                  <div class="custom-control custom-checkbox pr-0">
                    <input [disabled]="!isTimeBefore12PmCt" [checked]="isCheckedSameDayACH" type="checkbox" [(ngModel)]="isCheckedSameDayACH" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Process using Same-Day ACH</label>
                  </div>
                  <div class="alert alert-primary d-flex justify-content-between" role="alert">
                    <div class="d-flex">
                        <em class="alert-icon icon icon-info text-large"></em>
                        <div class="lh-20">
                            <h4 class="mr-0 mt-0 mb-4">Same-Day ACH Transaction</h4>
                            <div *ngIf="isTimeBefore12PmCt">
                              <div>
                                  The transaction will process at the end of the business day, rather than overnight, if submitted before 12pm CT.
                              </div>
                              <div>
                                  The firm will incur a fee for each Same-Day ACH transaction.
                              </div>
                            </div>
                            <div *ngIf="!isTimeBefore12PmCt">
                              Only transactions submitted before 12pm CT can be processed using Same-Day ACH.
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-radio pr-0" *ngIf="isTrustAccountEnabled && type == 'matter'">
              <input type="radio" id="retainerTrust" name="PayMethod" [(ngModel)]="paymentMethod" value="primary"
                class="custom-control-input" [disabled]="!currentBalance" (change)="validateAmount()">
              <label class="custom-control-label" [ngClass]="{'text-muted' : !currentBalance}" for="retainerTrust">
                Primary Retainer Trust (Current Balance: {{ currentBalance | currency }})
              </label>
            </div>
            <app-loader [active]='showPaymentMethodLoader'></app-loader>
          </div>

          <ng-container *ngIf="paymentMethod === 'CHECK'">
            <div class="row gutter-16">
              <div class="col-3">
                <div class="form-group mb-16" [class.has-error]='checkNumberMissing'>
                  <label>Check Number <sup>*</sup></label>
                  <input type="text" class="form-control" [(ngModel)]="checkNumber" (keypress)="chkNumber($event)"
                    placeholder="Enter check number" id="post-payment-check-number">
                  <app-validation-message *ngIf='checkNumberMissing' [errorMessage]="checkNumberMissing"></app-validation-message>
                </div>
              </div>
            </div>
            <div class="row gutter-16 mt-8" *ngIf="!postPaymentCheckUploadFile">
              <div class="col-6">
                <div class="form-group mb-16">
                  <button type="button" class="btn btn-primary btn-icon" (click)='selectFile()' id="post-payment-upload-check-img">
                    <i class="icon icon-upload"></i>
                    Upload check Image
                  </button>
                  <span class="ml-12"><i>Optional</i></span>
                  <form>
                    <input type="file" accept=".jpeg, .png" hidden #postPaymentCheckImageInput
                      (change)='uploadFile(postPaymentCheckImageInput.files)' id="post-payment-file-input">
                  </form>
                  <span class="d-block font-weight-medium font-12 mt-8">File must be .jpeg or .png and Maximum upload file
                    size: 5MB</span>
                </div>
              </div>
            </div>

            <div class="row mt-8" *ngIf="postPaymentCheck">
              <div class="col-12">
                <div [ngClass]="!this.postPaymentCheckUploadFile?'uploaded-image-danger':''"
                  class="uploaded-image d-flex align-items-center justify-content-between p-16 mb-24">
                  <div class="d-flex align-items-center">
                    <img src="../../../../../assets/images/Calendar/image.svg" alt="" width="18">
                    <span class="small font-weight-medium ml-12"> {{selectedFile?.name}}</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="ml-12 mb-0 small d-flex align-items-center" *ngIf="postPaymentCheckErr">
                      <em class="icon icon-error mr-8 text-danger text-large"></em>{{ postPaymentCheckErrMsg }}
                    </div>
                    <div (click)="onPaymentClose()" class="ml-24">
                      <em class="icon icon-close-fill icon-color text-large cursor-pointer"></em>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="paymentMethod === 'CREDIT_CARD'">
            <div class="row gutter-16">
              <div class="col-7">
                <h4 class="text-xlarge">Select an existing credit card</h4>
                <div class="custom-table">
                  <div class="table-responsive">
                    <table class="table table-striped table-borderless" id="cc-list-table">
                      <thead>
                        <tr>
                          <th>Select</th>
                          <th>Name on Card</th>
                          <th>Card Number</th>
                          <th>Expiration Date</th>
                          <th>Card Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let card of creditCardList;trackBy :trackByFn;let i=index;">
                          <tr>
                            <td>
                              <label class="cust-radio">
                                <input type="radio" name="selectedCreditCard" [(ngModel)]="selectedCreditCard"
                                  [value]="card.id" id="post-payment-cc-{{i}}">
                                <span class="radio-style"></span>
                              </label>
                            </td>
                            <td>
                              {{card.firstName}} {{card.lastName}}
                              {{card.companyName}}
                            </td>
                            <td>---- ---- ---- {{card.cardNumber}} </td>
                            <td>
                              {{card.expirationDate}}
                            </td>
                            <td>
                              {{card.cardType | cardType}}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button (click)="addCreditCard=true" class="btn btn-link btn-icon px-0 d-flex align-items-center mb-20"
                  [class.mt-20]='!creditCardList?.length' type="button" id="post-payment-add-cc">
                  <i class="icon icon-add-circle"></i>
                  Add Credit Card
                </button>
              </div>
            </div>
            <div class="row gutter-16" *ngIf="addCreditCard">
              <div class="col-6">
                <app-add-post-payment-credit-card [states]='states' [primaryAddress]='primaryAddress'
                  (saveCC)='saveCreditCard($event)' (cancel)='addCreditCard = false'>
                </app-add-post-payment-credit-card>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="paymentMethod === 'E-CHECK'">
            <div class="row gutter-16">
              <div class="col-7">
                <h4 class="text-xlarge">Select an existing E-Check</h4>
                <div class="custom-table">
                  <div class="table-responsive">
                    <table class="table table-striped table-borderless" id="e-check-list-table">
                      <thead>
                        <tr>
                          <th>Select</th>
                          <th>Routing Number</th>
                          <th>Account Number</th>
                          <th>Bank</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let echeck of echeckList;trackBy :trackByFn;let i=index">
                          <tr>
                            <td>
                              <label class="cust-radio">
                                <input type="radio" name="selectECheck" [(ngModel)]="selectedECheck"
                                  [value]="echeck.id" id="e-check-input-{{i}}">
                                <span class="radio-style"></span>
                              </label>
                            </td>
                            <td>
                              {{echeck.routingNumber | appRoutingNumber}}
                            </td>
                            <td>---- ---- {{echeck?.accountNumber?.substr(echeck?.accountNumber?.length - 4)}}</td>
                            <td>
                              {{echeck['bankName']}}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>
                <button (click)="addECheck = true" class="btn btn-link btn-icon px-0 d-flex align-items-center mb-20"
                  [class.mt-20]='!echeckList?.length' type="button" id="pp-add-echeck">
                  <i class="icon icon-add-circle"></i> Add E-Check
                </button>
              </div>
            </div>
            <div class="row gutter-16" *ngIf="addECheck">
              <div class="col-6">
                <app-add-post-payment-echeck [states]='states' [primaryAddress]='primaryAddress'
                  (saveEcheck)='saveEcheck($event)' (cancel)='addECheck = false'>
                </app-add-post-payment-echeck>
              </div>
            </div>
          </ng-container>

          <ng-container>

            <app-billing-operating-list
            *ngIf="officeId"
            [officeId]="officeId"
            [selectedOperatingAccountId]="selectedOperatingAccountId"
            [paymentMethod]="paymentMethod"
            [operatingAccountError]="operatingAccountError"
            (selectedOperatingAccount)="selectedAccount($event)"
            (checkAchCredit)="checkAchCreditStatus($event)"></app-billing-operating-list>
          </ng-container>

          <app-loader [active]='showAddMethodLoader'></app-loader>
        </div>
      </div>
      <div class="d-flex justify-content-end pb-24">
        <div class="btn-group">
          <button type="button" *ngIf="type == 'matter'" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId: matterId}"
            class="btn btn-light" id="pp-review-cancel-btn">Cancel</button>
            <button type="button" *ngIf="type == 'potential-client'" [routerLink]="['/contact/view-potential-client']" [queryParams]="{clientId: clientDetail.id,state:'edit'}"
            class="btn btn-light" id="pp-review-cancel-btn">Cancel</button>
          <button type="button" (click)="reviewPayment()"  class="btn btn-primary" id="pp-review-btn">
            Review Payment
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="step === 'review'">
      <div class="card">
        <div class="card-body">
          <h3>Review Payment</h3>
          <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert"
            *ngIf="displayMessage">
            <div class="d-flex align-items-center">
              <em class="alert-icon icon icon-error"></em>
              <div class="d-flex align-items-center flex-wrap">
                <h4 class="mr-20 mt-0 mb-0">Error </h4>
                {{failMsg}} Reason: {{message}}
              </div>
            </div>
            <a href="javascript:void(0)" id="pp-returntopostpayment" (click)="step='postpayment'" class="font-weight-medium">Return to Post
              Payment</a>
          </div>
          <div class="row gutter-16">
            <div class="col-5">
              <div class="row gutter-16">
                <div class="col-12">
                  <div class="form-group mb-32" id="ppr-dtofpayment">
                    <label class="d-block">Date of Payment</label>
                    {{paymentDate | date: 'MM/dd/yyyy'}}
                  </div>
                </div>
                <div class="col-12" *ngIf="type == 'matter'">
                  <div class="form-group mb-32" id="ppr-mattername">
                    <label class="d-block">Matter Name</label>
                    {{matterDetails?.matterName}}
                  </div>
                </div>
                <div class="col-12" *ngIf="type !='matter'">
                  <div class="form-group mb-32" id="ppr-mattername">
                    <label class="d-block">Potential Client Name</label>
                    {{postPaymentName}}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-32" id="ppr-current-balance">
                    <label class="d-block">Current Balance</label>
                    {{remainingAmount | currency}}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-32" id="ppr-amounttopay">
                    <label class="d-block">Amount to Pay</label>
                    {{amountToPay | currency}}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-32" id="ppr-paymentmethod">
                    <label class="d-block">Payment Method</label>
                    {{ paymentMethod === 'primary' ? 'Retainer Trust (Current Balance: ' +  (currentBalance | currency) + ')' : selectedPaymentMethod.name }}
                    <ng-container *ngIf="paymentMethod === 'CHECK'">
                      <p class="mb-16 mt-0">Check Number: {{checkNumber}}</p>
                      <div class="uploaded-image d-flex align-items-center justify-content-between p-16" *ngIf="!!selectedFile?.name">
                        <div class="d-flex align-items-center">
                          <img src="../../../../../assets/images/Calendar/image.svg" alt="" width="18">
                          <span class="small font-weight-medium ml-12">{{selectedFile?.name}}</span>
                        </div>
                        <a href="javascript:void(0);" class="font-weight-medium" id="ppr-viewcheckimg"
                          (click)="open(viewpostPaymentCheckModal,'','modal-lmd')">View Check Image</a>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="paymentMethod === 'CREDIT_CARD'">
                      <p class="mb-0" id="ppr-ccfirstname" *ngIf="!selectedCreditCardDetaiols.isCompany">
                        {{selectedCreditCardDetaiols.firstName}}
                        {{selectedCreditCardDetaiols.lastName}}</p>
                      <p class="mb-0" id="ppr-cccompanyname" *ngIf="selectedCreditCardDetaiols.isCompany">
                        {{selectedCreditCardDetaiols.companyName}}</p>
                      <p class="mb-0" id="ppr-cccardnumber">---- ---- ---- {{selectedCreditCardDetaiols.cardNumber}}</p>
                      <p class="mb-0" id="ppr-ccexpiredate">Exp: {{selectedCreditCardDetaiols.expirationDate}}</p>
                    </ng-container>
                    <ng-container *ngIf="paymentMethod === 'E-CHECK'">
                      <div class="row gutter-16">
                        <div class="col-5">
                          <div class="row gutter-16">
                            <div class="col-12">
                              <div class="form-group mb-0 mt-32" id="ppr-echeckroutingnumber">
                                <label class="d-block">Routing Number</label>
                                {{selectedECheckDetails.routingNumber | appRoutingNumber}}
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group mb-0 mt-32" id="ppr-echeckactnumber">
                                <label class="d-block">Account Number</label>
                                ---- ----
                                {{selectedECheckDetails?.accountNumber?.substr(selectedECheckDetails?.accountNumber?.length - 4)}}
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group mb-0">
                    <label class="d-block">Operating Account</label>
                    {{ operatingAccount?.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-loader [active]='showPostLoader'></app-loader>
        </div>
      </div>
      <div class="d-flex justify-content-end pb-24">
        <div class="btn-group">
          <button type="button" (click)="step='postpayment'; selectedOperatingAccount=null;" class="btn btn-light" id="pp-cancel-btn">Cancel</button>
          <button type="button" (click)="postPayment(partialPaymentModal)" class="btn btn-primary"
            [disabled]='disablePostPay || showPostLoader' id="pp-save-btn">
            Post Payment
          </button>
        </div>
      </div>
    </ng-container>

    <div class="d-none" *ngIf='paymentResponse && paymentMethod != "primary"'>
      <app-common-receipt-pdf #receiptMatter [recordData]="postObject" [clientData]="clientDetail" [matterId]='matterId'
        [isMatterPayment]='true' [callback]='loaderCallback' *ngIf='paymentResponse?.paymentId > 0'
        [tenant_details]='tenantDetails' [receipt_template]='receiptTemplate'>
      </app-common-receipt-pdf>

      <app-common-receipt-pdf #receiptTrust [recordData]="trustTransactionPostObject" [clientData]="clientDetail" [matterId]='matterId'
        [isPaymentToTrust]='true' [callback]='loaderCallback' *ngIf='paymentResponse?.trustTransactionHistoryId > 0'
        [tenant_details]='tenantDetails' [receipt_template]='receiptTemplate'>
      </app-common-receipt-pdf>
    </div>

    <ng-container *ngIf="step === 'complete'">
      <div class="card">
        <div class="card-body">
          <h3>Payment Confirmation</h3>
          <div class="alert alert-success d-flex justify-content-between" role="alert">
            <div class="d-flex">
              <em class="alert-icon icon icon-check-circle"></em>
              <div class="d-flex align-items-center flex-wrap">
                <h4 class="mr-20 mt-0 mb-0">Success</h4>
                {{successMsg}}
              </div>
            </div>
          </div>

          <app-loader [active]='showPostLoader'></app-loader>
        </div>
      </div>

      <div class="d-flex justify-content-end pb-24">
        <div class="btn-group">
          <button type="button" *ngIf="type == 'matter'" [routerLink]="['/matter/dashboard']" [queryParams]="{matterId: matterId}"
            class="btn btn-light" id="pp-returntomatterdash">Return to Matter Profile
          </button>
          <button type="button" *ngIf="type == 'potential-client'" [routerLink]="['/contact/view-potential-client']" [queryParams]="{clientId: clientDetail.id,state:'edit'}"
            class="btn btn-light" id="pp-returntomatterdash">Return to Potential Client Profile
          </button>

          <button type="button" *ngIf="paymentMethod != 'primary'" class="btn btn-primary" (click)="printReceipt()"
            [disabled]='showPostLoader' id="pp-printreceipt">
            Print Receipt
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #viewpostPaymentCheckModal let-modal>
  <div class="modal-header d-block pb-24">
    <h3 class="modal-title mb-0">Check Image - {{checkNumber}}</h3>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close" id="close-btn">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body">
    <div class="" style="background-color: #c8ced4;">
      <img src={{this.postPaymentCheckFileContent}} height="200px" width="580px">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Cross click')" id="pp-close-btn">Close</button>
  </div>
</ng-template>

<ng-template #partialPaymentModal let-modal>
  <div class="modal-header d-block pb-24">
    <h3 class="modal-title mb-0">Partial Payment Success</h3>

    <button type="button" class="close" (click)="modal.close(false)" aria-label="Close" id="pp-closecross-icon">
      <em class="icon icon-close"></em>
    </button>
  </div>
  <div class="modal-body pb-24">
    <div class="d-flex align-items-start missing-data">
      <em class="icon icon-warning text-warning"></em>
      <div class="lh-20 ml-12">
        <p class="m-0">The selected payment method is only authorized to process a payment for <b>{{partialPaymentCheckResponse?.results?.actualAmountToPay | currency : 'USD': 'symbol': '1.2-2'}}</b>. Do you want to process a payment for this amount instead?</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close(false)" id="pp-maincancelbtn">Cancel</button>

    <button type="button" class="btn btn-primary"
      (click)="modal.close(true)" id="pp-pwppayment-btn">
      Yes, proceed with partial payment
    </button>

  </div>
</ng-template>
