.review{
    .source{
        width: 22% !important;
    }
    .client{
        width: 22% !important;
    }
    .matter{
        width: 22% !important;
    }
    .previous-balance{
        width: 13% !important;
    }
    .new-balance{
        width: 13% !important;
    }
    .transfer-amount
    {
        width: 2% !important;;
    }
}