  .fixed-fee-matter {
    .info-hover{
      margin-left: 16px;
    }
    .icon {
      font-size: 14px;
      top: 2px;
      position: relative;
    }
  }

  .matter-table {
    .tooltip {
      left: -6px;
    }

    .pr-10 {
      padding-right: 10px;
    }
  }
.color-none {
  color: inherit;
}